h1:focus {
    outline: none;
}
.valid.modified:not([type=checkbox]) {
    outline: 1px solid green;
}
.invalid {
    outline: 1px solid red;
}
.validation-message {
    color: red;
}
#blazor-error-ui {
    background: red;
    bottom: 0;
    display: none;
    left: 0;
    height: 4px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.wyroznionyGuzik {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
    .wyroznionyGuzik img {
        transition: transform 0.2s, box-shadow 0.2s, filter 0.2s;
    }
    .wyroznionyGuzik:hover img {
        transform: scale(1.05);
        box-shadow: 0 0 0 5px gold, 0 0 20px rgba(255, 215, 0, 0.5);
        filter: brightness(1.1);
    }
.widok {
    width: 1900px;
    height: 1000px;
}