.domWiatrolapWidok {
    background-image: url('../img/dom/domWiatrolapWidok.png');
}
.garazWidok {
    background-image: url('../img/budynki/garazWidok.png');
}
.domSkrytkaWidok {
    background-image: url('../img/dom/domSkrytkaWidok.png');
}
.domSkrytkaFigurkiWidok {
    background-image: url('../img/dom/domSkrytkaFigurkiWidok.png');
}
.domDoGospodarstwo {
    top: 196px;
    right: 39px;
    width: 202px;
    height: 621px;
    z-index: 2;
}
.domDoGaraz {
    top: 208px;
    right: 412px;
    width: 296px;
    height: 566px;
    z-index: 2;
}
.domDoSalon {
    top: 240px;
    right: 771px;
    width: 261px;
    height: 563px;
    z-index: 2;
}
.domDoKuchnia {
    bottom: 0;
    left: 0;
    width: 455px;
    height: 915px;
    z-index: 2;
}
.domDoSkrytka {
    top: 243px;
    left: 543px;
    width: 241px;
    height: 498px;
    z-index: 2;
}
.garazDoDom {
    top: 237px;
    right: 168px;
    width: 272px;
    height: 659px;
    z-index: 2;
}
.garazDoGospodarstwo {
    top: 276px;
    left: 630px;
    width: 646px;
    height: 464px;
    z-index: 2;
}
.garazDoMiasto {
    bottom: 0;
    left: 0;
    width: 565px;
    height: 537px;
    z-index: 2;
}
.kuchniaDoWiatrolap {
    right: 0;
    top: 0;
    width: 278px;
    height: 806px;
    z-index: 2;
}
.stanPaliwaGaraz {
    bottom: 50px;
    left: 600px;
    width: 400px;
    height: 100px;
    z-index: 2;
    display: flex;
    gap: 15px;
}
.skrytkaDoSkrytkaFigurki {
    bottom: 0;
    right: 300px;
    width: 674px;
    height: 378px;
    z-index: 2;
}
.figurkiGracza {
    top: 50px;
    left: 150px;
    width: 1730px;
    height: 920px;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: max-content;
    align-content: start;
    gap: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}
.figurkiGracza {
    top: 50px;
    left: 150px;
    width: 1730px;
    height: 920px;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: max-content;
    align-content: start;
    gap: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}
.figurkaGracza {
    aspect-ratio: 1 / 1;
    width: 100%;
}
    .figurkaGracza .obrazekJakTrzeba {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }