.domWiatrolapWidok {
    background-image: url('../img/dom/domWiatrolapWidok.png');
}
.garazWidok {
    background-image: url('../img/budynki/garazWidok.png');
}
.domDoGospodarstwo {
    top: 196px;
    right: 39px;
    width: 202px;
    height: 621px;
    z-index: 2;
}
.domDoGaraz {
    top: 208px;
    right: 412px;
    width: 296px;
    height: 566px;
    z-index: 2;
}
.domDoKuchnia {
    bottom: 0;
    left: 0;
    width: 455px;
    height: 915px;
    z-index: 2;
}
.garazDoDom {
    top: 237px;
    right: 168px;
    width: 272px;
    height: 659px;
    z-index: 2;
}
.garazDoGospodarstwo {
    top: 276px;
    left: 630px;
    width: 646px;
    height: 464px;
    z-index: 2;
}
.garazDoMiasto {
    bottom: 0;
    left: 0;
    width: 565px;
    height: 537px;
    z-index: 2;
}
.kuchniaDoWiatrolap {
    right: 0;
    top: 0;
    width: 278px;
    height: 806px;
    z-index: 2;
}
.stanPaliwaGaraz {
    bottom: 50px;
    left: 600px;
    width: 400px;
    height: 100px;
    z-index: 2;
    display: flex;
    gap: 15px;
}