.domWiatrolapWidok {
    background-image: url('../img/dom/domWiatrolapWidok.png');
}
.garazWidok {
    background-image: url('../img/budynki/garazWidok.png');
}
.domKuchniaWidok {
    background-image: url('../img/dom/kuchnia/domKuchniaWidok.png');
}
.domDoGospodarstwo {
    top: 196px;
    right: 39px;
    width: 202px;
    height: 621px;
    z-index: 2;
}
.domDoGaraz {
    top: 208px;
    right: 412px;
    width: 296px;
    height: 566px;
    z-index: 2;
}
.domDoKuchnia {
    bottom: 0;
    left: 0;
    width: 455px;
    height: 915px;
    z-index: 2;
}
.garazDoDom {
    top: 237px;
    right: 168px;
    width: 272px;
    height: 659px;
    z-index: 2;
}
.garazDoGospodarstwo {
    top: 276px;
    left: 630px;
    width: 646px;
    height: 464px;
    z-index: 2;
}
.garazDoMiasto {
    bottom: 0;
    left: 0;
    width: 565px;
    height: 537px;
    z-index: 2;
}
.kuchniaDoWiatrolap {
    right: 0;
    top: 0;
    width: 278px;
    height: 806px;
    z-index: 2;
}
.stanPaliwaGaraz {
    bottom: 50px;
    left: 600px;
    width: 400px;
    height: 100px;
    z-index: 2;
    display: flex;
    gap: 15px;
}
.wyciskarkaWidok {
    background-image: url('../img/dom/kuchnia/wyciskarkaKuchnia.png');
}
.piecWidok {
    background-image: url('../img/dom/kuchnia/piecKuchnia.png');
}
.mlynekKawaWidok {
    background-image: url('../img/dom/kuchnia/mlynekKuchnia.png');
}
.zakwasWidok {
    background-image: url('../img/dom/kuchnia/zakwasKuchnia.png');
}
.doWyciskarki {
    left: 0;
    top: 392px;
    width: 391px;
    height: 420px;
    z-index: 2;
}
.kuchniaDoPieca {
    left: 1076px;
    top: 294px;
    width: 314px;
    height: 247px;
    z-index: 2;
}
.doKawy {
    left: 1426px;
    top: 523px;
    width: 174px;
    height: 274px;
    z-index: 2;
}
.doZakwasu {
    left: 1138px;
    top: 140px;
    width: 166px;
    height: 126px;
    z-index: 2;
}
.kuchniaNarzedzieConfirm {
    bottom: 0;
    right: 0;
    width: 200px;
    height: 130px;
}
.handelWyciskarka {
    width: 241px;
    height: 229px;
    left: 431px;
    top: 223px;
    z-index: 2;
}
.handelMlynekKawa {
    width: 467px;
    height: 213px;
    left: 0;
    bottom: 0;
    z-index: 2;
}
.wyciskarkaProduktIn {
    width: 88px;
    height: 88px;
}
.wyciskarkalProduktIn {
    bottom: 0;
    right: 0;
    width: 31px;
    height: 23px;
    font-size: 22px;
    text-align: center;
}
.wyciskarkaMarchew {
    top: 55px;
    left: 36px;
}
.wyciskarkaBurak {
    top: 55px;
    left: 157px;
}
.wyciskarkaPomidor {
    top: 54px;
    left: 278px;
}
.wyciskarkaAnanas {
    top: 163px;
    left: 33px;
}
.wyciskarkaBorowka {
    top: 163px;
    left: 155px;
}
.wyciskarkaBrzoskwinia {
    top: 164px;
    left: 277px;
}
.wyciskarkaCytryna {
    top: 269px;
    left: 33px;
}
.wyciskarkaGrejpfrut {
    top: 269px;
    left: 155px;
}
.wyciskarkaJablko {
    top: 272px;
    left: 276px;
}
.wyciskarkaMalina {
    top: 373px;
    left: 34px;
}
.wyciskarkaMorela {
    top: 373px;
    left: 154px;
}
.wyciskarkaPomarancza {
    top: 376px;
    left: 276px;
}
.wyciskarkaPorzeczka {
    top: 472px;
    left: 37px;
}
.wyciskarkaTruskawka {
    top: 475px;
    left: 155px;
}
.wyciskarkaWisnia {
    top: 475px;
    left: 276px;
}
.produktyInMlynekKawa {
    width: 250px;
    height: 250px;
    top: 286px;
    left: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 50px;
}
.produktInMlynekKawa {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}
.lProduktuInMlynekKawa {
    right: 0;
    bottom: 0;
    width: 30px;
    height: 16px;
    font-size: 15px;
    text-align: center;
}
.wyciskarkaLCelow {
    width: 38px;
    height: 15px;
    font-size: 14px;
    text-align: center;
}
.wyciskarkaLMarchwiowego {
    top: 125px;
    right: 221px;
}
.wyciskarkaLBuraczanego {
    top: 122px;
    right: 117px;
}
.wyciskarkaLPomidorowego {
    top: 136px;
    right: 13px;
}
.wyciskarkaLAnanasowego {
    top: 236px;
    right: 233px;
}
.wyciskarkaLBorowkowego {
    top: 248px;
    right: 120px;
}
.wyciskarkaLBrzoskwiniowego {
    top: 243px;
    right: 27px;
}
.wyciskarkaLCytrynowego {
    top: 358px;
    right: 229px;
}
.wyciskarkaLGrejpfrutowego {
    top: 357px;
    right: 125px;
}
.wyciskarkaLJablkowego {
    top: 359px;
    right: 10px;
}
.wyciskarkaLMalinowego {
    top: 490px;
    right: 232px;
}
.wyciskarkaLMorelowego {
    top: 489px;
    right: 122px;
}
.wyciskarkaLPomaranczowego {
    top: 486px;
    right: 24px;
}
.wyciskarkaLPorzeczkowego {
    top: 607px;
    right: 217px;
}
.wyciskarkaLTruskawkowego {
    top: 609px;
    right: 109px;
}
.wyciskarkaLWisniowego {
    top: 606px;
    right: 15px;
}
.mlynekLKawy {
    top: 167px;
    right: 40px;
    width: 100px;
    height: 39px;
    font-size: 35px;
    text-align: center;
}
.tacaPodajnikWyciskarka {
    width: 620px;
    height: 160px;
    top: 607px;
    left: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.produktPodajnikWyciskarka {
    width: 70px;
    height: 70px;
}
.produktIloscPodajnikWyciskarka {
    bottom: 0;
    right: 0;
    width: 30px;
    height: 16px;
    font-size: 15px;
    text-align: center;
    color: yellow;
}
.tacaPodajniklynekKawa {
    width: 212px;
    height: 200px;
    top: 572px;
    left: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 6px;
}
.produktPodajnikMlynekKawa {
    width: 63px;
    height: 63px;
}
.produktIloscPodajnikMlynekKawa {
    bottom: 0;
    right: 0;
    width: 25px;
    height: 13px;
    font-size: 12px;
    text-align: center;
}
.tacaEfektWyciskarka {
    width: 620px;
    height: 160px;
    top: 607px;
    left: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.kawaEfektMlynekKawa {
    width: 150px;
    height: 150px;
    top: 590px;
    left: 1170px;
}
.efektIloscKawy {
    bottom: 0;
    right: 0;
    width: 70px;
    height: 31px;
    font-size: 30px;
    text-align: center;
}
.guzikZakwasChleb {
    width: 190px;
    height: 100px;
    z-index: 2;
    top: 370px;
}
.zytoGuzikZakwas {
    left: 100px;
}
.jeczmienGuzikZakwas {
    left: 328px;
}
.pszenicaGuzikZakwas {
    left: 553px;
}
.ryzGuzikZakwas {
    left: 778px;
}
.owiesGuzikZakwas {
    left: 1000px;
}
.grykaGuzikZakwas {
    left: 1220px;
}
.orkiszGuzikZakwas {
    left: 1435px;
}
.liczbaZakwas {
    width: 100px;
    height: 60px;
    font-size: 59px;
    text-align: center;
    top: 390px;
}
.wodaZakwas {
    top: 280px;
    left: 1097px;
}
.zytoMakaZakwas {
    left: 190px;
}
.jeczmienMakaZakwas {
    left: 418px;
}
.pszenicaMakaZakwas {
    left: 643px;
}
.ryzMakaZakwas {
    left: 868px;
}
.owiesMakaZakwas {
    left: 1090px;
}
.grykaMakaZakwas {
    left: 1310px;
}
.orkiszMakaZakwas {
    left: 1525px;
}
.stanZakwas {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.3s ease;
    bottom: 40px;
}
.zytoZakwas {
    left: 100px;
}
.jeczmienZakwas {
    left: 335px;
}
.pszenicaZakwas {
    left: 560px;
}
.ryzZakwas {
    left: 780px;
}
.owiesZakwas {
    left: 1005px;
}
.grykaZakwas {
    left: 1240px;
}
.orkiszZakwas {
    left: 1460px;
}
.czarny {
    color: black;
}
.goraPrawoIks {
    top: 0;
}