.garazGospodarczyWidok {
    background-image: url('../img/budynki/garazGospodarczyWidok.png');
}
.stanPaliwaGarazGospodarczy {
    top: 480px;
    left: 530px;
    width: 400px;
    height: 100px;
    z-index: 2;
    display: flex;
    gap: 15px;
}
.kanisterGarazGospodarczy {
    width: 100px;
}
.pasekPaliwa {
    width: 100%;
    height: 40px;
    border-radius: 20px;
}
    .pasekPaliwa::-webkit-progress-bar {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
    }
    .pasekPaliwa::-webkit-progress-value {
        border-radius: 20px;
        background: lime;
    }
    .pasekPaliwa[style*="--procent: 3"]::-webkit-progress-value,
    .pasekPaliwa[style*="--procent: 4"]::-webkit-progress-value,
    .pasekPaliwa[style*="--procent: 5"]::-webkit-progress-value,
    .pasekPaliwa[style*="--procent: 6"]::-webkit-progress-value,
    .pasekPaliwa[style*="--procent: 7"]::-webkit-progress-value {
        background: yellow;
    }
    .pasekPaliwa[style*="--procent: 0"]::-webkit-progress-value,
    .pasekPaliwa[style*="--procent: 1"]::-webkit-progress-value,
    .pasekPaliwa[style*="--procent: 2"]::-webkit-progress-value {
        background: red;
    }
.guzikWyjsciaZGarazuGospodarczego {
    top: 0;
    left: 110.9px;
    width: 875px;
    height: 258px;
    z-index: 2;
}
.guzikNaPoleIntroZGarazu {
    top: 200px;
    left: 1001px;
    width: 839px;
    height: 785px;
    z-index: 2;
}
.koszenieTrawy {
    bottom: 0;
    left: 0;
    width: 607px;
    height: 316px;
    z-index: 2;
}
.kosiarkaKosi {
    pointer-events: none;
    background-image: url('../img/teren/trawnik.png');
}
.kosiarka {
    position: absolute;
    width: 780px;
    height: 516px;
    background-image: url('../img/przedmioty/kosiarka.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translateY(-50%);
    animation: koszenie 5s linear forwards;
}
@keyframes koszenie {
    0% {
        right: -800px;
        transform: translateY(-50%) scaleX(1);
    }
    30% {
        right: 1900px;
        transform: translateY(-50%) scaleX(1);
    }
    30.01% {
        transform: translateY(-50%) scaleX(-1);
    }
    60% {
        right: -800px;
        transform: translateY(-50%) scaleX(-1);
    }
    60.01% {
        transform: translateY(-50%) scaleX(1);
    }
    100% {
        right: 1900px;
        transform: translateY(-50%) scaleX(1);
    }
}