.garazGospodarczyWidok {
    background-image: url('../img/budynki/garazGospodarczyWidok.png');
}
.stanPaliwaGarazGospodarczy {
    top: 480px;
    left: 530px;
    width: 400px;
    height: 100px;
    z-index: 2;
    display: flex;
    gap: 15px;
}
.kanisterGarazGospodarczy {
    width: 100px;
}
.infoKanisterGarazGospodarczy {
    font-size: 56px;
    font-weight: bold;
    padding: 20px;
}
.guzikWyjsciaZGarazuGospodarczego {
    top: 0;
    left: 110.9px;
    width: 875px;
    height: 258px;
    z-index: 2;
}
.guzikNaPoleIntroZGarazu {
    top: 200px;
    left: 1001px;
    width: 839px;
    height: 785px;
    z-index: 2;
}