.gospodarstwoWidok {
    background-image: url('../img/teren/gospodarstwo.png');
}
.gospodarstwoUl {
    top: 100px;
    left: 200px;
    width: 100px;
    height: 100px;
    z-index: 2;
}
.miod {
    top: 200px;
    left: 900px;
    width: 200px;
    height: 200px;
    z-index: 6;
}
.doDomuGuzik {
    top: 205px;
    left: 0;
    width: 437px;
    height: 591px;
    z-index: 2;
}
.doGarazuGuzik {
    top: 505px;
    left: 441px;
    width: 261px;
    height: 270px;
    z-index: 2;
}
.doPrzetworniGuzik {
    bottom: 0;
    left: 849px;
    width: 592px;
    height: 399px;
    z-index: 2;
}
.koloKosiarki {
    border-radius: 50%;
    background: conic-gradient(black 0deg 270deg, gray 270deg 360deg);
    animation: krecenieKosiarka 5s linear forwards;
}
.koloKosiarkiPrzod {
    width: 100px;
    height: 100px;
    bottom: 15px;
    left: 30px;
}
.koloKosiarkiTyl {
    width: 130px;
    height: 130px;
    bottom: 15px;
    left: 320px;
}
.studniaGuzik {
    top: 710px;
    left: 1762px;
    width: 138px;
    height: 251px;
    z-index: 2;
}
.zaBrameGuzik {
    top: 885px;
    left: 412px;
    width: 355px;
    height: 114px;
    z-index: 2;
}
.doZwierzyncaGuzik {
    top: 0;
    left: 775px;
    width: 322px;
    height: 121px;
    z-index: 2;
}
.garazGospodarczyGuzik {
    top: 50px;
    left: 1353px;
    width: 260px;
    height: 365px;
    z-index: 2;
}
@keyframes krecenieKosiarka {
    to {
        transform: rotate(-7200deg);
    }
}