.miasto1Widok {
    background-image: url('../img/teren/miasto1.png');
}
.miasto2Widok {
    background-image: url('../img/teren/miasto2.png');
}
.lBiletowMiasto1 {
    left: 75px;
    top: 75px;
    color: yellow;
    font-size: 46px;
    width: 70px;
    height: 47px;
    text-align: center;
}
.miasto1Powrot {
    top: 223px;
    right: 0;
    width: 247px;
    height: 188px;
    z-index: 2;
}
.stanPaliwaMiasto {
    top: 80px;
    right: 30px;
    width: 250px;
    height: 70px;
    z-index: 2;
    display: flex;
    gap: 5px;
}
.sprzedawanieMiasto1 {
    top: 420px;
    right: 250px;
    z-index: 2;
    display: flex;
    gap: 20px;
    width: 130px;
    height: 100px;
}
.sprzedawcaMiasto1 {
    width: 80px;
}
.miasto1doSklepDrobiu {
    top: 554px;
    left: 661px;
    width: 324px;
    height: 259px;
    z-index: 2;
}
.miasto1doSzkoly {
    top: 0;
    left: 232px;
    width: 325px;
    height: 322px;
    z-index: 2;
}
.sklepDrobiuWidok {
    background-image: url('../img/miasto/sklepDrobiuWidok.png');
}
.lMonetSklepDrobiu {
    bottom: 40px;
    left: 140px;
    width: 210px;
    height: 50px;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}
.sklepDrobiuDoMiasto1 {
    bottom: 0;
    right: 0;
    width: 305px;
    height: 169px;
    z-index: 2;
}
.zwierzeSklepDrobiu {
    width: 188px;
    height: 250px;
}
.kuraSklepDrobiu {
    top: 250px;
    left: 50px;
}
.gesSklepDrobiu {
    top: 250px;
    left: 303px;
}
.indykSklepDrobiu {
    top: 560px;
    left: 50px;
}
.kaczkaSklepDrobiu {
    top: 560px;
    left: 303px;
}
.infoZwierzaSklepDrobiu {
    height: 50px;
    width: 100%;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}
.rysunekZwierzaSklepDrobiu {
    top: 50px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cenaSklepDrobiu {
    padding: 5px;
    height: 50px;
    width: 100%;
    gap: 27px;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    top: 200px;
}
.miasto1DoKiosk {
    bottom: 63px;
    left: 50px;
    width: 266px;
    height: 179px;
    z-index: 2;
}
.kiosk1Widok {
    background-image: url('../img/miasto/kiosk1Widok.png');
}
.kioskDoMiasto1 {
    bottom: 0;
    left: 0;
    width: 334px;
    height: 206px;
    z-index: 2;
}
.lMonetKiosk1 {
    left: 1390px;
    top: 40px;
    width: 190px;
    height: 80px;
    font-size: 79px;
    text-align: center;
    color: tan;
}
.lBiletowKiosk1 {
    left: 500px;
    top: 40px;
    width: 130px;
    height: 80px;
    font-size: 79px;
    text-align: center;
    color: gold;
}
.kupBiletKiosk1 {
    top: 552px;
    left: 703px;
    width: 178px;
    height: 160px;
}
.autobusAnimacjaM1 {
    left: -150px;
    top: 400px;
    width: 100px;
    height: 100px;
    cursor: default;
    pointer-events: none;
}
.autobusUkrytyM1 {
    opacity: 0;
    left: -150px;
    top: 400px;
    pointer-events: none;
    transition: none;
}
.autobusJedzieM1 {
    opacity: 1;
    left: 200px;
    top: 600px;
    pointer-events: none;
    transition: left 1s ease, top 1s ease;
}
.autobusStoiM1 {
    opacity: 1;
    left: 200px;
    top: 600px;
    pointer-events: all;
    cursor: pointer;
    transition: none;
}
.autobusOdjedzieM1 {
    opacity: 1;
    left: -150px;
    top: 400px;
    pointer-events: none;
    transform: scaleX(-1);
    transition: left 1s ease, top 1s ease;
}
.autobusAnimacjaM21 {
    right: 0;
    bottom: 0;
    width: 270px;
    height: 270px;
    pointer-events: none;
}
.autobusUkrytyM21 {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.autobusStoiM21 {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    transition: opacity 0.3s ease;
}