.miasto1Widok {
    background-image: url('../img/teren/miasto1.png');
}
.miasto1Powrot {
    top: 223px;
    right: 0;
    width: 247px;
    height: 188px;
    z-index: 2;
}
.stanPaliwaMiasto {
    top: 80px;
    right: 30px;
    width: 250px;
    height: 70px;
    z-index: 2;
    display: flex;
    gap: 5px;
}
.sprzedawanieMiasto1 {
    top: 420px;
    right: 250px;
    z-index: 2;
    display: flex;
    gap: 20px;
    width: 130px;
    height: 100px;
}
.sprzedawcaMiasto1 {
    width: 80px;
}
.miasto1doSklepDrobiu {
    top: 554px;
    left: 661px;
    width: 324px;
    height: 259px;
    z-index: 2;
}
.sklepDrobiuWidok {
    background-image: url('../img/miasto/sklepDrobiuWidok.png');
}
.lMonetSklepDrobiu {
    bottom: 40px;
    left: 140px;
    width: 210px;
    height: 50px;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}
.sklepDrobiuDoMiasto1 {
    bottom: 0;
    right: 0;
    width: 305px;
    height: 169px;
    z-index: 2;
}
.zwierzeSklepDrobiu {
    width: 188px;
    height: 250px;
}
.kuraSklepDrobiu {
    top: 250px;
    left: 50px;
}
.gesSklepDrobiu {
    top: 250px;
    left: 303px;
}
.indykSklepDrobiu {
    top: 560px;
    left: 50px;
}
.kaczkaSklepDrobiu {
    top: 560px;
    left: 303px;
}
.infoZwierzaSklepDrobiu {
    height: 50px;
    width: 100%;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}
.rysunekZwierzaSklepDrobiu {
    top: 50px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cenaSklepDrobiu {
    padding: 5px;
    height: 50px;
    width: 100%;
    gap: 27px;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    top: 200px;
}