.stacjamiasto3Widok {
    background-image: url('../img/miasto/stacjaMiasto3Widok.jpg');
    overflow: hidden;
}
.stacjamiastoLesneWidok {
    background-image: url('../img/miasto/stacjaMiastoLesneWidok.jpg');
    overflow: hidden;
}
.stacjamiastoBialeWidok {
    background-image: url('../img/miasto/stacjaMiastoBialeWidok.jpg');
    overflow: hidden;
}
.wyjscieStacjamiasto3 {
    z-index: 2;
    bottom: 0;
    left: 662px;
    width: 385px;
    height: 206px;
}
.wyjscieStacjamiastoLesne {
    left: 701px;
    bottom: 0;
    width: 440px;
    height: 123px;
    z-index: 2;
}
.wyjscieStacjamiastoBiale {
    bottom: 0;
    left: 563px;
    width: 630px;
    height: 124px;
    z-index: 2;
}
.ileBiletowKazdeMiasto {
    top: 10px;
    left: 100px;
    width: 100px;
    height: 100px;
    z-index: 2;
}
.ileBiletowLKazdeMiasto {
    top: 10px;
    left: 205px;
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    z-index: 2;
}
.ileBiletowLmiasto3 {
    color: cyan;
}
.ileBiletowLmiastoLesne {
    color: cyan;
}
.ileBiletowLmiastoBiale {
    color: white;
}
.kupBiletStacjamiasto3 {
    width: 104px;
    height: 102px;
    bottom: 220px;
    left: 1371px;
}
.kupBiletStacjamiastoLesne {
    width: 69px;
    height: 46px;
    bottom: 124px;
    left: 1552px;
}
.kupBiletStacjamiastoBiale {
    width: 101px;
    height: 37px;
    bottom: 190px;
    left: 391px;
}
.stacjaCzas {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: bold;
    z-index: 101;
}
.stacjaCzasmiasto3 {
    top: 10px;
    right: 10px;
    color: saddlebrown;
}
.stacjaCzasmiastoLesne {
    top: 10px;
    right: 10px;
    color: yellow;
}
.stacjaCzasmiastoBiale {
    top: 10px;
    right: 10px;
    color: white;
}
.zobaczRozkladStacjimiasto3 {
    bottom: 0;
    left: 0;
    width: 464px;
    height: 376px;
    z-index: 2;
}
.zobaczRozkladStacjimiastoLesne {
    bottom: 0;
    left: 0;
    width: 455px;
    height: 260px;
    z-index: 2;
}
.zobaczRozkladStacjimiastoBiale {
    bottom: 0;
    right: 0;
    width: 481px;
    height: 267px;
    z-index: 2;
}
.overlayRoklady {
    left: 100px;
    top: 50px;
    width: 1700px;
    height: 900px;
    z-index: 100;
    background-image: url('../img/miasto/stacje/overlayRozklady.png');
}
.wypisaneRozklady {
    top: 160px;
    left: 230px;
    width: 1245px;
    height: 670px;
}
.rozkladPociagu1 {
    display: flex;
    font-size: 70px;
    font-style: italic;
    color: black;
    font-family: 'Times New Roman';
    gap: 20px;
}
.zamknijRozklady {
    bottom: 10px;
    left: 10px;
    width: 150px;
    height: 150px;
    z-index: 2;
}
.zaslonaPociagu1miasto3 {
    z-index: 4;
    top: 346px;
    left: 400px;
    width: 162px;
    height: 300px;
}
.zaslonaPociagu2miasto3 {
    z-index: 4;
    top: 338px;
    left: 1250px;
    width: 162px;
    height: 300px;
}
.zaslonaPociagu3miasto3 {
    z-index: 4;
    top: 358px;
    right: 80px;
    width: 517px;
    height: 275px;
}
.zaslonaPociagu1miastoLesne {
    z-index: 4;
    left: 412px;
    top: 550px;
    width: 124px;
    height: 198px;
}
.zaslonaPociagu2miastoLesne {
    z-index: 4;
    left: 1277px;
    top: 532px;
    width: 569px;
    height: 198px;
}
.zaslonaPociagu1miastoBiale {
    z-index: 4;
    width: 385px;
    height: 135px;
    right: 85px;
    bottom: 264px;
}
.zaslonaPociagu2miastoBiale {
    z-index: 4;
    left: 78px;
    top: 355px;
    width: 510px;
    height: 403px;
}
.pociagKazdyAnimacja {
    width: 920px;
    height: 370px;
    cursor: default;
    pointer-events: none;
}
.kazdyPociagUkryty {
    pointer-events: none;
    transition: none;
    opacity: 0;
}
.kazdyPociagJedzie {
    pointer-events: none;
    transition: left 2.4s ease;
    opacity: 1;
}
.kazdyPociagStoi {
    pointer-events: all;
    cursor: pointer;
    transition: none;
    opacity: 1;
}
.kazdyPociagOdjedzie {
    pointer-events: none;
    transition: left 2.4s ease;
    opacity: 1;
}
.pociag1miasto3Animacja {
    left: 100px;
    top: 87px;
    z-index: 2;
}
.pociag1miasto3Ukryty {
    left: 2050px;
}
.pociag1miasto3Odjedzie {
    left: -1500px;
}
.pociag3miasto3Animacja {
    left: 600px;
    top: 198px;
    z-index: 3;
    transform: scaleX(-1);
}
    .pociag3miasto3Animacja .celPociagu {
        transform: scaleX(-1);
    }
.pociag3miasto3Ukryty {
    left: -1500px;
}
.pociag3miasto3Odjedzie {
    left: 2050px;
}
.pociag2miastoLesneAnimacja {
    left: 300px;
    top: 335px;
    z-index: 3;
    transform: scaleX(-1);
}
    .pociag2miastoLesneAnimacja .celPociagu {
        transform: scaleX(-1);
    }
.pociag2miastoLesneUkryty {
    left: -1500px;
}
.pociag2miastoLesneOdjedzie {
    left: 2050px;
}
.pociag4miastoBialeAnimacja {
    left: 200px;
    top: 258px;
    z-index: 2;
}
.pociag4miastoBialeUkryty {
    left: 2050px;
}
.pociag4miastoBialeOdjedzie {
    left: -1500px;
}
.celPociagu {
    bottom: 85px;
    right: 190px;
    width: 75px;
    height: 75px;
}