.pole1Widok {
    background-image: url('../img/pole1.png');
}
.pole2Widok {
    background-image: url('../img/pole2.png');
}
.stanButelekPole {
    width: 200px;
    height: 80px;
    top: 60px;
    left: 950px;
    position: absolute;
    z-index: 3;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
}
.naPoleIntroZPole1 {
    top: 351px;
    left: 0;
    width: 300px;
    height: 200px;
    z-index: 2;
}
.naPoleIntroZPole2 {
    top: 379px;
    right: 0;
    width: 257px;
    height: 272px;
    z-index: 2;
}
.naPole1ZPole2 {
    top: 341px;
    left: 0;
    width: 240px;
    height: 349px;
    z-index: 2;
}
.naPole2ZPole1 {
    top: 346px;
    right: 0;
    width: 263px;
    height: 272px;
    z-index: 2;
}
.warzywoNaPolu {
    width: 90px;
    height: 90px;
    top: 33px;
    left: 45px;
    z-index: 3;
}
.pojedynczePole1 {
    width: 179px;
    height: 156px;
}
.ileWarzywPole {
    width: 55px;
    height: 55px;
    top: 10px;
    left: 10px;
    z-index: 4;
}
.liczbaWarzywPole {
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 22px;
    left: 15px;
    z-index: 5;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.ramkaMotyka {
    width: 40px;
    height: 70px;
    bottom: 10px;
    right: 8px;
    z-index: 4;
}
.ileZyskuZPola {
    width: 40px;
    height: 30px;
    bottom: 10px;
    right: 8px;
    z-index: 4;
    color: lime;
    font-size: 22px;
}
.motykaTrue {
    border: dashed 2px lime;
}
.motykaFalse {
    border: dashed 2px red;
}
.pole111 {
    top: 180px;
    left: 480px;
}
.pole121 {
    top: 180px;
    left: 673px;
}
.pole131 {
    top: 180px;
    left: 866px;
}
.pole141 {
    top: 180px;
    left: 1059px;
}
.pole151 {
    top: 180px;
    left: 1252px;
}
.pole112 {
    top: 344px;
    left: 480px;
}
.pole122 {
    top: 344px;
    left: 673px;
}
.pole132 {
    top: 344px;
    left: 866px;
}
.pole142 {
    top: 344px;
    left: 1059px;
}
.pole152 {
    top: 344px;
    left: 1252px;
}
.pole113 {
    top: 502px;
    left: 480px;
}
.pole123 {
    top: 502px;
    left: 673px;
}
.pole133 {
    top: 502px;
    left: 866px;
}
.pole143 {
    top: 502px;
    left: 1059px;
}
.pole153 {
    top: 502px;
    left: 1252px;
}
.pole114 {
    top: 663px;
    left: 480px;
}
.pole124 {
    top: 663px;
    left: 673px;
}
.pole134 {
    top: 663px;
    left: 866px;
}
.pole144 {
    top: 663px;
    left: 1059px;
}
.pole154 {
    top: 663px;
    left: 1252px;
}