.poleIntroWidok {
    background-image: url('../img/poleIntro.png');
}
.guzikPowrotuZPolaDoGarazuGospodarczego {
    top: 657px;
    left: 1448px;
    width: 398px;
    height: 294px;
    z-index: 2;
}
.guzikNaPole1ZIntro {
    top: 0;
    left: 0;
    width: 557px;
    height: 410px;
    z-index: 2;
}