.przetworniaWidok {
    background-image: url('../img/budynki/przetworniaWidok.png');
}
.przetworniaPowrot {
    bottom: 0;
    left: 0;
    width: 310px;
    height: 156px;
    z-index: 2;
}
.doMaselnicy {
    top: 318px;
    left: 202px;
    width: 203px;
    height: 403px;
    z-index: 2;
}
.narzedziePrzetwornia {
    top: 100px;
    left: 100px;
    width: 1700px;
    height: 800px;
    z-index: 1000;
    background-image: url('../img/budynki/maselnicaPrzetwornia.png');
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
}
    .narzedziePrzetwornia.aktywne {
        opacity: 1;
        pointer-events: all;
    }
.przetworniaNarzedzieConfirm {
    bottom: 0;
    left: 0;
    width: 200px;
    height: 130px;
}
.guzikHandelMaselnica {
    top: 343px;
    left: 567px;
    width: 214px;
    height: 212px;
    z-index: 2;
}
.maselnicaLCelow {
    right: 75px;
    width: 55px;
    height: 20px;
    font-size: 19px;
    text-align: center;
}
.maselnicaLSmietany {
    top: 124px;
}
.maselnicaLMasla {
    top: 276px;
}
.maselnicaLMajonezu {
    top: 430px;
}
.guzikMaselnicaProduktIn {
    width: 116px;
    height: 116px;
}
.maselnicalProduktIn {
    bottom: 2px;
    right: 2px;
    width: 40px;
    height: 25px;
    font-size: 24px;
    text-align: center;
}
.guzikMaselnicaJajoKurze {
    top: 119px;
    left: 69px;
}
.guzikMaselnicaJajoGesie {
    top: 119px;
    left: 233px;
}
.guzikMaselnicaJajoKacze {
    top: 119px;
    left: 398px;
}
.guzikMaselnicaJajoIndycze {
    top: 296px;
    left: 69px;
}
.guzikMaselnicaOlej {
    top: 296px;
    left: 233px;
}
.guzikMaselnicaSmietana {
    top: 296px;
    left: 398px;
}
.guzikMaselnicaMlekoKrowie {
    top: 460px;
    left: 69px;
}
.guzikMaselnicaMlekoKozie {
    top: 460px;
    left: 233px;
}
.guzikMaselnicaMlekoOwcze {
    top: 460px;
    left: 398px;
}
.tacaPodajnikMaselnica {
    top: 130px;
    left: 820px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}
.produktTacaPodajnikMaselnica {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
}
.produktTacaIloscPodajnikMaselnica {
    bottom: 0;
    right: 0;
    width: 30px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
.smietanaTacaIloscPodajnikMaselnica {
    top: 0;
    left: 0;
    width: 30px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
.tacaEfektMaselnica {
    top: 480px;
    left: 815px;
    width: 300px;
    height: 90px;
    display: flex;
    gap: 25px;
}
.produktTacaEfektMaselnica {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
}