.przetworniaWidok {
    background-image: url('../img/budynki/przetworniaWidok.png');
}
.przetworniaPowrot {
    bottom: 0;
    left: 0;
    width: 310px;
    height: 156px;
    z-index: 2;
}
.doMaselnicy {
    top: 318px;
    left: 202px;
    width: 203px;
    height: 403px;
    z-index: 2;
}
.doSerowarni {
    top: 406px;
    left: 413px;
    width: 250px;
    height: 265px;
    z-index: 2;
}
.doZaren {
    top: 492px;
    left: 680px;
    width: 234px;
    height: 240px;
    z-index: 2;
}
.doPlatkarni {
    top: 410px;
    left: 958px;
    width: 273px;
    height: 298px;
    z-index: 2;
}
.doBeczki {
    top: 381px;
    left: 1279px;
    width: 212px;
    height: 308px;
    z-index: 2;
}
.doMlynka {
    top: 463px;
    left: 1560px;
    width: 204px;
    height: 192px;
    z-index: 2;
}
.narzedziePrzetwornia {
    top: 100px;
    left: 100px;
    width: 1700px;
    height: 800px;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
}
    .narzedziePrzetwornia.aktywne {
        opacity: 1;
        pointer-events: all;
    }
.maselnicaWidok {
    background-image: url('../img/budynki/maselnicaPrzetwornia.png');
}
.serowarniaWidok {
    background-image: url('../img/budynki/serowarniaPrzetwornia.png');
}
.zarnaWidok {
    background-image: url('../img/budynki/zarnaPrzetwornia.png');
}
.platkarniaWidok {
    background-image: url('../img/budynki/platkarniaPrzetwornia.png');
}
.beczkaWidok {
    background-image: url('../img/budynki/beczkaPrzetwornia.png');
}
.mlynekWidok {
    background-image: url('../img/budynki/mlynekPrzetwornia.png');
}
.przetworniaNarzedzieConfirm {
    bottom: 0;
    left: 0;
    width: 200px;
    height: 130px;
}
.guzikHandelMaselnica {
    top: 343px;
    left: 567px;
    width: 214px;
    height: 212px;
    z-index: 2;
}
.guzikHandelSerowarnia {
    top: 222px;
    left: 538px;
    width: 187px;
    height: 166px;
    z-index: 2;
}
.guzikHandelZarna {
    top: 572px;
    left: 526px;
    width: 164px;
    height: 148px;
    z-index: 2;
}
.guzikHandelPlatkarka {
    top: 47px;
    left: 346px;
    width: 286px;
    height: 155px;
    z-index: 2;
}
.guzikHandelBeczka {
    top: 71px;
    left: 516px;
    width: 180px;
    height: 125px;
    z-index: 2;
}
.maselnicaLCelow {
    right: 75px;
    width: 55px;
    height: 20px;
    font-size: 19px;
    text-align: center;
}
.maselnicaLSmietany {
    top: 124px;
}
.maselnicaLMasla {
    top: 276px;
}
.maselnicaLMajonezu {
    top: 430px;
}
.serowarniaLCelow {
    width: 32px;
    height: 16px;
    font-size: 15px;
    text-align: center;
}
.serowarniaLKrowiego {
    right: 110px;
    top: 144px;
}
.serowarniaLKoziego {
    right: 108px;
    top: 224px;
}
.serowarniaLOwczego {
    right: 109px;
    top: 317px;
}
.serowarniaLTwarogu {
    right: 93px;
    top: 466px;
}
.zarnaLCelow {
    width: 69px;
    height: 24px;
    font-size: 23px;
    text-align: center;
}
.zarnaLGryczana {
    left: 571px;
    top:  265px;
}
.zarnaLJeczmienna {
    left: 672px;
    top:  265px;
}
.zarnaLOrkiszowa {
    left: 771px;
    top:  265px;
}
.zarnaLOwsiana {
    left: 870px;
    top:  265px;
}
.zarnaLPszenna {
    left: 969px;
    top:  263px;
}
.zarnaLRyzowa {
    left: 1070px;
    top: 264px;
}
.zarnaLZytnia {
    left: 1163px;
    top:  263px;
}
.zarnaLMakaron {
    left: 1356px;
    top:  263px;
}
.guzikMaselnicaProduktIn {
    width: 116px;
    height: 116px;
}
.platkarkaLCelow {
    width: 69px;
    height: 22px;
    font-size: 21px;
    text-align: center;
    right: 44px;
}
.platkarkaLGryczane {
    top: 118px;
}
.platkarkaLJeczmienne {
    top: 179px;
}
.platkarkaLOrkiszowe {
    top: 241px;
}
.platkarkaLOwsiane {
    top: 306px;
}
.platkarkaLPszenne {
    top: 366px;
}
.platkarkaLRyzowe {
    top: 428px;
}
.platkarkaLZytnie {
    top: 491px;
}
.platkarkaLKukurydziane {
    top: 554px;
}
.beczkaLCelow {
    width: 25px;
    height: 11px;
    font-size: 10px;
    text-align: center;
}
.beczkaLWino {
    right: 32px;
    top: 115px;
}
.beczkaLKapusta {
    right: 29px;
    top: 214px;
}
.beczkaLOgorki {
    right: 29px;
    top: 272px;
}
.beczkaLBuraki {
    right: 29px;
    top: 302px;
}
.mlynekLCelow {
    width: 40px;
    height: 22px;
    font-size: 19px;
    text-align: center;
}
.mlynekLMieloneDrob {
    right: 35px;
    top: 69px;
}
.mlynekLMieloneDzikie {
    right: 34px;
    top: 163px;
}
.mlynekLMieloneSwinia {
    right: 35px;
    top: 252px;
}
.mlynekLMieloneKrowa {
    right: 35px;
    top: 343px;
}
.mlynekLKielbasa {
    right: 41px;
    top: 498px;
}
.maselnicalProduktIn {
    bottom: 2px;
    right: 2px;
    width: 40px;
    height: 25px;
    font-size: 24px;
    text-align: center;
}
.guzikMaselnicaJajoKurze {
    top: 119px;
    left: 69px;
}
.guzikMaselnicaJajoGesie {
    top: 119px;
    left: 233px;
}
.guzikMaselnicaJajoKacze {
    top: 119px;
    left: 398px;
}
.guzikMaselnicaJajoIndycze {
    top: 296px;
    left: 69px;
}
.guzikMaselnicaOlej {
    top: 296px;
    left: 233px;
}
.guzikMaselnicaSmietana {
    top: 296px;
    left: 398px;
}
.guzikMaselnicaMlekoKrowie {
    top: 460px;
    left: 69px;
}
.guzikMaselnicaMlekoKozie {
    top: 460px;
    left: 233px;
}
.guzikMaselnicaMlekoOwcze {
    top: 460px;
    left: 398px;
}
.guzikSerowarniaProduktIn {
    width: 142px;
    height: 109px;
}
.guzikSerowarniaMlekoKrowie {
    top: 67px;
    left: 53px;
}
.guzikSerowarniaMlekoKozie {
    top: 65px;
    left: 227px;
}
.guzikSerowarniaMlekoOwcze {
    top: 64px;
    left: 403px;
}
.serowarnialProduktIn {
    bottom: 2px;
    right: 2px;
    width: 45px;
    height: 30px;
    font-size: 28px;
    text-align: center;
}
.guzikZarnaProduktIn {
    width: 94px;
    height: 94px;
}
.guzikZarnaGryka {
    top: 45px;
    left: 65px;
}
.guzikZarnaJeczmien {
    top: 43px;
    left: 216px;
}
.guzikZarnaOrkisz {
    top: 42px;
    left: 371px;
}
.guzikZarnaOwies {
    top: 152px;
    left: 67px;
}
.guzikZarnaPszenica {
    top: 149px;
    left: 217px;
}
.guzikZarnaRyz {
    top: 150px;
    left: 372px;
}
.guzikZarnaZyto {
    top: 262px;
    left: 67px;
}
.guzikZarnaKuraJajo {
    top: 259px;
    left: 217px;
}
.guzikZarnaGesJajo {
    top: 260px;
    left: 372px;
}
.guzikZarnaIndykJajo {
    top: 372px;
    left: 67px;
}
.guzikZarnaKaczkaJajo {
    top: 371px;
    left: 217px;
}
.guzikZarnaGrykaMaka {
    top: 372px;
    left: 373px;
}
.guzikZarnaJeczmienMaka {
    top: 482px;
    left: 67px;
}
.guzikZarnaOrkiszMaka {
    top: 483px;
    left: 217px;
}
.guzikZarnaOwiesMaka {
    top: 484px;
    left: 374px;
}
.guzikZarnaPszenicaMaka {
    top: 594px;
    left: 67px;
    z-index: 3;
}
.guzikZarnaRyzMaka {
    top: 594px;
    left: 217px;
}
.guzikZarnaZytoMaka {
    top: 594px;
    left: 374px;
}
.zarnalProduktIn {
    bottom: 2px;
    right: 2px;
    width: 39px;
    height: 24px;
    font-size: 23px;
    text-align: center;
}
.guzikPlatkarkaProduktIn {
    width: 106px;
    height: 106px;
}
.guzikPlatkarkaGryka {
    top: 78px;
    left: 52px;
}
.guzikPlatkarkaJeczmien {
    top: 78px;
    left: 188px;
}
.guzikPlatkarkaOrkisz {
    top: 206px;
    left: 52px;
}
.guzikPlatkarkaOwies {
    top: 206px;
    left: 188px;
}
.guzikPlatkarkaPszenica {
    top: 331px;
    left: 52px;
}
.guzikPlatkarkaRyz {
    top: 331px;
    left: 188px;
}
.guzikPlatkarkaZyto {
    top: 457px;
    left: 52px;
}
.guzikPlatkarkaKukurydza {
    top: 457px;
    left: 188px;
}
.guzikBeczkaProduktIn {
    width: 77px;
    height: 77px;
}
.guzikBeczkaKapusta {
    top: 35px;
    left: 36px;
}
.guzikBeczkaOgorek {
    top: 34px;
    left: 173px;
}
.guzikBeczkaBurak {
    top: 34px;
    left: 313px;
}
.guzikBeczkaSol {
    top: 75px;
    left: 412px;
}
.guzikBeczkaCiemne {
    top: 139px;
    left: 35px;
}
.guzikBeczkaJasne {
    top: 139px;
    left: 173px;
}
.guzikBeczkaRozowe {
    top: 139px;
    left: 313px;
}
.guzikMlynekProduktIn {
    width: 83px;
    height: 83px;
}
.mlyneklProduktIn {
    top: 0;
    left: 0;
    width: 39px;
    height: 24px;
    font-size: 23px;
    text-align: center;
}
.guzikMlynekMieloneDrob {
    top: 49px;
    left: 40px;
}
.guzikMlynekMieloneDzikie {
    top: 49px;
    left: 141px;
}
.guzikMlynekMieloneSwinia {
    top: 49px;
    left: 243px;
}
.guzikMlynekMieloneKrowa {
    top: 49px;
    left: 345px;
}
.guzikMlynekCzosnek {
    top: 149px;
    left: 40px;
}
.guzikMlynekGesSmalec {
    top: 149px;
    left: 141px;
}
.guzikMlynekKaczkaSmalec {
    top: 149px;
    left: 243px;
}
.guzikMlynekSwiniaSmalec {
    top: 149px;
    left: 345px;
}
.guzikMlynekSol {
    top: 250px;
    left: 41px;
}
.guzikMlynekKuraJedzenie {
    top: 250px;
    left: 143px;
}
.guzikMlynekGesJedzenie {
    top: 254px;
    left: 244px;
}
.guzikMlynekKaczkaJedzenie {
    top: 253px;
    left: 347px;
}
.guzikMlynekIndykJedzenie {
    top: 353px;
    left: 42px;
}
.guzikMlynekKrolikJedzenie {
    top: 353px;
    left: 144px;
}
.guzikMlynekKozaJedzenie {
    top: 353px;
    left: 245px;
}
.guzikMlynekOwcaJedzenie {
    top: 353px;
    left: 348px;
}
.guzikMlynekKrowaRostbef {
    top: 457px;
    left: 42px;
}
.guzikMlynekKrowaAntrykot {
    top: 458px;
    left: 146px;
}
.guzikMlynekKrowaLopatka {
    top: 458px;
    left: 247px;
}
.guzikMlynekKrowaPoledwica {
    top: 458px;
    left: 348px;
}
.guzikMlynekSwiniaSzynka {
    top: 560px;
    left: 43px;
}
.guzikMlynekSwiniaSchab {
    top: 561px;
    left: 147px;
}
.guzikMlynekSwiniaBoczek {
    top: 562px;
    left: 250px;
}
.tacaPodajnikMaselnica {
    top: 130px;
    left: 820px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}
.produktTacaPodajnikMaselnica {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
}
.produktTacaIloscPodajnikMaselnica {
    bottom: 0;
    right: 0;
    width: 30px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
.smietanaTacaIloscPodajnikMaselnica {
    top: 0;
    left: 0;
    width: 30px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
.tacaPodajnikSerowarnia {
    top: 340px;
    left: 780px;
    width: 330px;
    height: 95px;
    display: flex;
    padding: 10px;
    gap: 30px;
}
.produktTacaPodajnikSerowarnia {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
}
.tacaPodajnikZarna {
    top: 525px;
    left: 725px;
    width: 600px;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.produktTacaPodajnikZarna {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}
.produktTacaIloscPodajnikZarna {
    bottom: 0;
    right: 0;
    width: 20px;
    height: 30px;
    font-size: 28px;
    color: red;
    text-align: center;
}
.tacaPodajnikPlatkarka {
    top: 45px;
    left: 673px;
    width: 260px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.produktTacaPodajnikPlatkarka {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
}
.produktTacaIloscPodajnikPlatkarka {
    bottom: 0;
    right: 0;
    width: 23px;
    height: 15px;
    font-size: 14px;
    color: yellow;
    font-weight: bold;
    text-align: center;
}
.tacaPodajnikBeczka {
    top: 50px;
    left: 720px;
    width: 340px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}
.produktTacaPodajnikBeczka {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}
.produktTacaIloscPodajnikBeczka {
    bottom: 0;
    right: 0;
    width: 40px;
    height: 24px;
    font-size: 23px;
    text-align: center;
}
.tacaPodajnikMlynek {
    top: 560px;
    left: 680px;
    width: 670px;
    height: 215px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}
.produktTacaPodajnikMlynek {
    width: 68px;
    height: 68px;
    flex-shrink: 0;
}
.produktTacaIloscPodajnikMlynek {
    top: 0;
    left: 0;
    width: 20px;
    height: 16px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.obrazekMlynek {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.tacaEfektMaselnica {
    top: 480px;
    left: 815px;
    width: 300px;
    height: 90px;
    display: flex;
    gap: 25px;
}
.tacaEfektSerowarnia {
    top: 480px;
    left: 765px;
    width: 345px;
    height: 95px;
    display: flex;
    gap: 40px;
    padding: 10px;
}
.tacaEfektZarna {
    top: 525px;
    left: 1365px;
    width: 170px;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 40px;
}
.tacaEfektPlatkarka {
    top: 45px;
    left: 939px;
    width: 260px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    padding: 5px;
}
.tacaEfektBeczka {
    top: 42px;
    left: 1090px;
    width: 200px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px 35px;
}
.tacaEfektMlynek {
    top: 560px;
    left: 1395px;
    width: 270px;
    height: 215px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    border: 1px solid black;
}
.produktTacaEfektMaselnica {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
}
.produktTacaEfektZarna {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
}
.produktTacaEfektZarnaIlosc {
    bottom: 0;
    right: 0;
    width: 39px;
    height: 25px;
    font-size: 24px;
    color: yellow;
    text-align: center;
}
.produktTacaEfektSerowarnia {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
}
.produktTacaIloscPodajnikSer {
    bottom: 0;
    left: 0;
    width: 30px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
.produktTacaIloscSerOwczy {
    top: 0;
    left: 0;
    width: 30px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
.serowarniaLampka {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid yellow;
    transition: all 0.3s ease;
}
.serowarniaLampkaSer {
    top: 60px;
    right: 185px;
}
.serowarniaLampkaTwarog {
    top: 490px;
    right: 185px;
}
.serowarniaLampka.swiec {
    background: radial-gradient(circle, gold 0%, darkorange 100%);
    box-shadow: 0 0 20px gold, 0 0 40px darkorange, inset 0 0 10px white;
    border-color: goldenrod;
}
.serowarniaLampka.zgas {
    background: darkslategray;
    box-shadow: inset 0 0 5px black;
    border-color: gray;
}
    .serowarniaLampka.zgas:hover {
        background: slategray;
    }