.przetworniaWidok {
    background-image: url('../img/budynki/przetworniaWidok.png');
}
.przetworniaPowrot {
    bottom: 0;
    left: 0;
    width: 310px;
    height: 156px;
    z-index: 2;
}
.doMaselnicy {
    top: 318px;
    left: 202px;
    width: 203px;
    height: 403px;
    z-index: 2;
}
.doSerowarni {
    top: 406px;
    left: 413px;
    width: 250px;
    height: 265px;
    z-index: 2;
}
.doZaren {
    top: 492px;
    left: 680px;
    width: 234px;
    height: 240px;
    z-index: 2;
}
.narzedziePrzetwornia {
    top: 100px;
    left: 100px;
    width: 1700px;
    height: 800px;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
}
    .narzedziePrzetwornia.aktywne {
        opacity: 1;
        pointer-events: all;
    }
.maselnicaWidok {
    background-image: url('../img/budynki/maselnicaPrzetwornia.png');
}
.serowarniaWidok {
    background-image: url('../img/budynki/serowarniaPrzetwornia.png');
}
.zarnaWidok {
    background-image: url('../img/budynki/zarnaPrzetwornia.png');
}
.przetworniaNarzedzieConfirm {
    bottom: 0;
    left: 0;
    width: 200px;
    height: 130px;
}
.guzikHandelMaselnica {
    top: 343px;
    left: 567px;
    width: 214px;
    height: 212px;
    z-index: 2;
}
.guzikHandelSerowarnia {
    top: 222px;
    left: 538px;
    width: 187px;
    height: 166px;
    z-index: 2;
}
.maselnicaLCelow {
    right: 75px;
    width: 55px;
    height: 20px;
    font-size: 19px;
    text-align: center;
}
.maselnicaLSmietany {
    top: 124px;
}
.maselnicaLMasla {
    top: 276px;
}
.maselnicaLMajonezu {
    top: 430px;
}
.serowarniaLCelow {
    width: 32px;
    height: 16px;
    font-size: 15px;
    text-align: center;
}
.serowarniaLKrowiego {
    right: 110px;
    top: 143px;
}
.serowarniaLKoziego {
    right: 107px;
    top: 223px;
}
.serowarniaLOwczego {
    right: 109px;
    top: 317px;
}
.serowarniaLTwarogu {
    right: 93px;
    top: 464px;
}
.zarnaLCelow {
    width: 69px;
    height: 24px;
    font-size: 23px;
    text-align: center;
}
.zarnaLGryczana {
    left: 571px;
    top:  265px;
}
.zarnaLJeczmienna {
    left: 672px;
    top:  265px;
}
.zarnaLOrkiszowa {
    left: 771px;
    top:  265px;
}
.zarnaLOwsiana {
    left: 870px;
    top:  265px;
}
.zarnaLPszenna {
    left: 969px;
    top:  263px;
}
.zarnaLRyzowa {
    left: 1070px;
    top: 264px;
}
.zarnaLZytnia {
    left: 1163px;
    top:  263px;
}
.zarnaLMakaron {
    left: 1356px;
    top:  263px;
}
.guzikMaselnicaProduktIn {
    width: 116px;
    height: 116px;
}
.maselnicalProduktIn {
    bottom: 2px;
    right: 2px;
    width: 40px;
    height: 25px;
    font-size: 24px;
    text-align: center;
}
.guzikMaselnicaJajoKurze {
    top: 119px;
    left: 69px;
}
.guzikMaselnicaJajoGesie {
    top: 119px;
    left: 233px;
}
.guzikMaselnicaJajoKacze {
    top: 119px;
    left: 398px;
}
.guzikMaselnicaJajoIndycze {
    top: 296px;
    left: 69px;
}
.guzikMaselnicaOlej {
    top: 296px;
    left: 233px;
}
.guzikMaselnicaSmietana {
    top: 296px;
    left: 398px;
}
.guzikMaselnicaMlekoKrowie {
    top: 460px;
    left: 69px;
}
.guzikMaselnicaMlekoKozie {
    top: 460px;
    left: 233px;
}
.guzikMaselnicaMlekoOwcze {
    top: 460px;
    left: 398px;
}
.guzikSerowarniaProduktIn {
    width: 142px;
    height: 109px;
}
.guzikSerowarniaMlekoKrowie {
    top: 67px;
    left: 53px;
}
.guzikSerowarniaMlekoKozie {
    top: 65px;
    left: 227px;
}
.guzikSerowarniaMlekoOwcze {
    top: 64px;
    left: 403px;
}
.serowarnialProduktIn {
    bottom: 2px;
    right: 2px;
    width: 45px;
    height: 30px;
    font-size: 28px;
    text-align: center;
}
.guzikZarnaProduktIn {
    width: 94px;
    height: 94px;
}
.guzikZarnaGryka {
    top: 45px;
    left: 65px;
}
.guzikZarnaJeczmien {
    top: 43px;
    left: 216px;
}
.guzikZarnaOrkisz {
    top: 42px;
    left: 371px;
}
.guzikZarnaOwies {
    top: 152px;
    left: 67px;
}
.guzikZarnaPszenica {
    top: 149px;
    left: 217px;
}
.guzikZarnaRyz {
    top: 150px;
    left: 372px;
}
.guzikZarnaZyto {
    top: 262px;
    left: 67px;
}
.guzikZarnaKuraJajo {
    top: 259px;
    left: 217px;
}
.guzikZarnaGesJajo {
    top: 260px;
    left: 372px;
}
.guzikZarnaIndykJajo {
    top: 372px;
    left: 67px;
}
.guzikZarnaKaczkaJajo {
    top: 371px;
    left: 217px;
}
.guzikZarnaGrykaMaka {
    top: 372px;
    left: 373px;
}
.guzikZarnaJeczmienMaka {
    top: 482px;
    left: 67px;
}
.guzikZarnaOrkiszMaka {
    top: 483px;
    left: 217px;
}
.guzikZarnaOwiesMaka {
    top: 484px;
    left: 374px;
}
.guzikZarnaPszenicaMaka {
    top: 594px;
    left: 67px;
    z-index: 3;
}
.guzikZarnaRyzMaka {
    top: 594px;
    left: 217px;
}
.guzikZarnaZytoMaka {
    top: 594px;
    left: 374px;
}
.zarnalProduktIn {
    bottom: 2px;
    right: 2px;
    width: 39px;
    height: 24px;
    font-size: 23px;
    text-align: center;
}
.tacaPodajnikMaselnica {
    top: 130px;
    left: 820px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}
.produktTacaPodajnikMaselnica {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
}
.produktTacaIloscPodajnikMaselnica {
    bottom: 0;
    right: 0;
    width: 30px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
.smietanaTacaIloscPodajnikMaselnica {
    top: 0;
    left: 0;
    width: 30px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
.tacaPodajnikSerowarnia {
    top: 340px;
    left: 780px;
    width: 330px;
    height: 95px;
    display: flex;
    padding: 10px;
    gap: 30px;
}
.produktTacaPodajnikSerowarnia {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
}
.tacaEfektMaselnica {
    top: 480px;
    left: 815px;
    width: 300px;
    height: 90px;
    display: flex;
    gap: 25px;
}
.produktTacaEfektMaselnica {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
}
.tacaEfektSerowarnia {
    top: 480px;
    left: 765px;
    width: 345px;
    height: 95px;
    display: flex;
    gap: 40px;
    padding: 10px;
}
.produktTacaEfektSerowarnia {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
}
.produktTacaIloscPodajnikSer {
    bottom: 0;
    left: 0;
    width: 30px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
.produktTacaIloscSerOwczy {
    top: 0;
    left: 0;
    width: 30px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
.serowarniaLampka {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid yellow;
    transition: all 0.3s ease;
}
.serowarniaLampkaSer {
    top: 60px;
    right: 185px;
}
.serowarniaLampkaTwarog {
    top: 490px;
    right: 185px;
}
.serowarniaLampka.swiec {
    background: radial-gradient(circle, gold 0%, darkorange 100%);
    box-shadow: 0 0 20px gold, 0 0 40px darkorange, inset 0 0 10px white;
    border-color: goldenrod;
}
.serowarniaLampka.zgas {
    background: darkslategray;
    box-shadow: inset 0 0 5px black;
    border-color: gray;
}
    .serowarniaLampka.zgas:hover {
        background: slategray;
    }