.doRzezniGuzik {
    top: 344px;
    left: 447px;
    width: 180px;
    height: 163px;
    z-index: 2;
}
.rzezniaWidok {
    background-image: url('../img/budynki/rzezniaWidok.png');
}
.confirmRzeznia {
    bottom: 0;
    left: 0;
    width: 261px;
    height: 187px;
    z-index: 2;
}
.siekieraRzeznia {
    top: 350px;
    left: 390px;
    width: 400px;
    height: 330px;
    z-index: 2;
}
.siekieraTrue {
    border: 3px dashed green;
}
.siekieraFalse {
    border: 3px dashed red;
}
.lSiekierRzeznia {
    width: 120px;
    height: 100px;
    font-size: 80px;
    z-index: 2;
    text-align: center;
    right: 10px;
    top: 140px;
}
.lZwierzatRzaznia {
    width: 70px;
    height: 52px;
    font-size: 50px;
    z-index: 2;
    text-align: center;
    right: 15px;
}
.lKurRzeznia {
    top: 20px;
}
.lGesiRzeznia {
    top: 110px;
}
.lIndykowRzeznia {
    top: 190px;
}
.lKaczekRzeznia {
    top: 280px;
}
.lKrolikowRzeznia {
    top: 370px;
}
.lOwiecRzeznia {
    top: 470px;
}
.lKozRzeznia {
    top: 570px;
}
.lSwinRzeznia {
    top: 680px;
}
.lKrowRzeznia {
    top: 790px;
}
.lDuzyProduktRzaznia {
    width: 40px;
    height: 30px;
    font-size: 29px;
    z-index: 2;
    text-align: center;
}
.lMiesoKura {
    top: 38px;
    right: 570px;
}
.lMiesoGes {
    top: 124px;
    right: 635px;
}
.lSmalecGes {
    top: 124px;
    right: 505px;
}
.lPioroGes {
    top: 124px;
    right: 350px;
}
.lMiesoIndyk {
    top: 217px;
    right: 570px;
}
.lMiesoKaczka {
    top: 300px;
    right: 635px;
}
.lSmalecKaczka {
    top: 300px;
    right: 505px;
}
.lPioroKaczka {
    top: 300px;
    right: 350px;
}
.lMiesoKrolik {
    top: 385px;
    right: 610px;
}
.lFutroKrolik {
    top: 385px;
    right: 425px;
}
.lMiesoOwca {
    top: 485px;
    right: 610px;
}
.lSkoraOwca {
    top: 485px;
    right: 400px;
}
.lMiesoKoza {
    top: 585px;
    right: 610px;
}
.lSkoraKoza {
    top: 585px;
    right: 400px;
}
.lSzynkaSwinia {
    top: 670px;
    right: 600px;
}
.lSchabSwinia {
    top: 716px;
    right: 600px;
}
.lBoczekSwinia {
    top: 693px;
    right: 460px;
}
.lSmalecSwinia {
    top: 713px;
    right: 336px;
}
.lRostbefKrowa {
    top: 783px;
    right: 615px;
}
.lAntrykotKrowa {
    top: 823px;
    right: 585px;
}
.lLopatkaKrowa {
    top: 783px;
    right: 465px;
}
.lPoledwicaKrowa {
    top: 823px;
    right: 463px;
}
.lSkoraKrowa {
    top: 803px;
    right: 320px;
}
.guzikRzaznia {
    width: 120px;
    height: 80px;
    z-index: 3;
    right: 65px;
}
.kuraRzeznia {
    top: 12px;
}
.gesRzeznia {
    top: 100px;
}
.indykRzeznia {
    top: 188px;
}
.kaczkaRzeznia {
    top: 276px;
}
.krolikRzeznia {
    top: 360px;
}
.owcaRzeznia {
    top: 457px;
}
.kozaRzeznia {
    top: 562px;
}
.swiniaRzeznia {
    top: 670px;
}
.krowaRzeznia {
    top: 775px;
}