.domSalonWidok {
    background-image: url('../img/dom/salon/domSalonWidok.png');
}
.gryPlanszoweWidok {
    background-image: url('../img/dom/salon/gryPlanszoweWidok.png');
}
.salonDoWiatrolap {
    top: 0;
    right: 0;
    width: 285px;
    height: 1000px;
}
.salonKacik {
    left: 97px;
    bottom: 93px;
    width: 56px;
    height: 39px;
}
.salonDoGier {
    right: 485px;
    top: 354px;
    width: 149px;
    height: 211px;
    z-index: 2;
}
.gryPlanszoweDoSalon {
    left: 0;
    bottom: 0;
    width: 220px;
    height: 107px;
    z-index: 2;
}
.doSzafkiZGrami {
    bottom: 0;
    left: 0;
    width: 70px;
    height: 70px;
    cursor: pointer;
    z-index: 2;
}
.wyborRywala2os {
    left: 400px;
    top: 200px;
    width: 1100px;
    height: 200px;
    display: flex;
    gap: 100px;
}
.rywal2os {
    width: 200px;
    height: 200px;
}
.gramySzachy {
    left: 0;
    bottom: 164px;
    width: 872px;
    height: 252px;
    z-index: 2;
}
.rozgrywkaSalon {
    top: 50px;
    left: 100px;
    width: 1700px;
    height: 900px;
    z-index: 10;
}
.graczSalon2os {
    left: 775px;
    width: 150px;
    height: 150px;
    z-index: 2;
}
.graczAktywnySalon2os {
    bottom: 0;
}
.rywalAktywnySalon2os {
    top: 0;
}
.widokGramySzachy {
    width: 100%;
    height: 100%;
    background-image: url('../img/dom/salon/granieSzachy.png');
}
.partiaSzachy {
    display: flex;
    top: 200px;
    width: 700px;
    height: 500px;
}
.partia1szachy {
    left: 50px;
}
.partia2szachy {
    right: 150px;
}
.obrazSzachownicy {
    position: relative;
    background-image: url('../img/dom/salon/szachownica.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(8, 56px);
    grid-template-rows: repeat(8, 56px);
    padding: 12px;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
}
.bierka {
    width: 50px;
    height: 50px;
    cursor: pointer
}
.poleSzachownicy {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.menuSzachisty {
    margin-left: 50px;
    width: 200px;
    height: 500px;
}
.klikSzachy {
    width: 80px;
    height: 80px;
    left: 10px;
    cursor: pointer;
}
.punktyRywalaSzachy {
    top: 0;
}
.poddajSieSzachy {
    top: 135px;
}
.proponujRemisSzachy {
    top: 285px;
}
.punktyMojeSzachy {
    bottom: 0;
}
.punktyGraczaSzachy {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}
.zaznaczonaBierka {
    filter: drop-shadow(0 0 10px green);
}
.poprzedniRuchTutaj {
    filter: drop-shadow(0 0 12px coral) drop-shadow(0 0 8px red);
}
.mozliwyRuch {
    background: rgba(100, 200, 100, 0.4);
    border-radius: 50%;
}
.overlaySzachy {
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
    z-index: 98;
}
.overlayRemis {
    background-image: url('../img/dom/salon/remis.png');
}
.przyciskSzachy {
    width: 120px;
    height: 120px;
    bottom: 50px;
    z-index: 99;
    cursor: pointer;
}
.decyzjaSzachyTak {
    left: 50px;
}
.decyzjaSzachyNie {
    right: 50px;
}
.overlayPorazka {
    background-image: url('../img/dom/salon/porazka.png');
}
.promocjaSkoczek {
    left: 0;
}
.promocjaGoniec {
    left: 125px;
}
.promocjaWieza {
    left: 250px;
}
.promocjaHetman {
    left: 375px;
}