.sklepikWidok {
    background-image: url('../img/budynki/sklepikWidok.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 25px;
}
.wyjscieSklepikGuzik {
    top: 913px;
    left: 594px;
    width: 374px;
    height: 86px;
    z-index: 2;
}
.sklepikMonetyGracza {
    top: 913px;
    left: 1000px;
    width: 300px;
    height: 80px;
    font-size: 55px;
    font-weight: bold;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 10px;
    z-index: 2;
}
.towarSklepik {
    width: 100px;
    height: 140px;
    z-index: 2;
}
.towarCenaSklepik {
    width: 85px;
    height: 28px;
    display: flex;
    font-weight: bold;
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.towarStanSklepik {
    width: 100px;
    height: 42px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: antiquewhite;
    border-radius: 5px;
}
.butelkaSklepikRysunek {
    top: 150px;
    left: 252px;
    z-index: 2;
}
    .butelkaSklepikRysunek.klikalneDivZielone {
        position: absolute;
    }
.butelkaSklepikCena {
    top: 340px;
    left: 252px;
}
.butelkaSklepikStan {
    top: 65px;
    left: 252px;
}
.motykaSklepikRysunek {
    top: 150px;
    left: 465px;
}
.motykaSklepikCena {
    top: 340px;
    left: 465px;
}
.motykaSklepikStan {
    top: 65px;
    left: 465px;
}
.upgrKanisterRysunek {
    top: 150px;
    left: 680px;
}
.upgrKanisterCena {
    top: 340px;
    left: 680px;
}
.upgrKanisterStan {
    top: 65px;
    left: 680px;
}