.sklepikWidok {
    background-image: url('../img/budynki/sklepikWidok.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 25px;
}
.sklepikOwoceWidok {
    background-image: url('../img/budynki/sklepikOwoce.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 25px;
}
.sklepikWarzywaWidok {
    background-image: url('../img/budynki/sklepikWarzywa.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 25px;
}
.wyjscieSklepikGuzik {
    top: 913px;
    left: 594px;
    width: 374px;
    height: 86px;
    z-index: 2;
}
.wyjscieSklepikOwoceGuzik {
    bottom: 0;
    left: 555px;
    width: 313px;
    height: 140px;
    z-index: 2;
}
.wyjscieSklepikWarzywaGuzik {
    bottom: 0;
    left: 0;
    width: 319px;
    height: 123px;
    z-index: 2;
}
.przejscieDoOwocowZGlownego {
    top: 0;
    right: 0;
    width: 144px;
    height: 882px;
    z-index: 2;
}
.przejscieDoWarzywZGlownego {
    top: 0;
    left: 0;
    width: 172px;
    height: 894px;
    z-index: 2;
}
.guzikSklepikOwoceDoGlownego {
    top: 0;
    left: 0;
    width: 192px;
    height: 1000px;
    z-index: 2;
}
.guzikSklepikWarzywaDoGlownego {
    top: 0;
    right: 0;
    width: 189px;
    height: 888px;
    z-index: 2;
}
.sklepikMonetyGracza {
    top: 913px;
    left: 1000px;
    width: 300px;
    height: 80px;
    font-size: 55px;
    font-weight: bold;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 10px;
    z-index: 2;
}
.towarSklepik {
    width: 100px;
    height: 140px;
    z-index: 2;
}
.towarCenaSklepik {
    width: 85px;
    height: 28px;
    display: flex;
    font-weight: bold;
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.towarStanSklepik {
    width: 100px;
    height: 42px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: antiquewhite;
    border-radius: 5px;
}
.butelkaSklepikRysunek {
    top: 150px;
    left: 252px;
    z-index: 2;
}
    .butelkaSklepikRysunek.klikalneDivZielone {
        position: absolute;
    }
.butelkaSklepikCena {
    top: 340px;
    left: 252px;
}
.butelkaSklepikStan {
    top: 65px;
    left: 252px;
}
.motykaSklepikRysunek {
    top: 150px;
    left: 465px;
}
.motykaSklepikCena {
    top: 340px;
    left: 465px;
}
.motykaSklepikStan {
    top: 65px;
    left: 465px;
}
.upgrKanisterRysunek {
    top: 150px;
    left: 680px;
}
.upgrKanisterCena {
    top: 340px;
    left: 680px;
}
.upgrKanisterStan {
    top: 65px;
    left: 680px;
}
.kanisterDoPelnaRysunek {
    top: 150px;
    left: 897px;
}
.kanisterDoPelnaCena {
    top: 340px;
    left: 897px;
}
.kanisterDoPelnaStan {
    top: 65px;
    left: 897px;
}
.kanisterDoPolowyRysunek {
    top: 150px;
    left: 1110px;
}
.kanisterDoPolowyCena {
    top: 340px;
    left: 1110px;
}
.kanisterDoPolowyStan {
    top: 65px;
    left: 1110px;
}
.kanisterDoCwierciRysunek {
    top: 150px;
    left: 1329px;
}
.kanisterDoCwierciCena {
    top: 340px;
    left: 1329px;
}
.kanisterDoCwierciStan {
    top: 65px;
    left: 1329px;
}
.sekatorSklepikRysunek {
    top: 150px;
    left: 1548px;
}
.sekatorSklepikCena {
    top: 340px;
    left: 1548px;
}
.sekatorSklepikStan {
    top: 65px;
    left: 1548px;
}
.warzywaGrid {
    top: 45px;
    left: 280px;
    width: 1310px;
    height: 785px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
}
.polkaItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}
.polkaItem-gora {
    width: 70%;
    height: 25px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 15px;
    background-color: antiquewhite;
    margin-bottom: 10px;
}
.polkaItem-obrazek {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .polkaItem-obrazek img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
.polkaItem-cena {
    width: 80%;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 5%;
}