.zaBramaWidok {
    background-image: url('../img/teren/zaBrama.png');
}
.podworkoSasiadaWidok {
    background-image: url('../img/teren/podworkoSasiada.png');
    pointer-events: none;
}
.powrotDoDomuGuzik {
    top: 1px;
    left: 1569px;
    width: 330px;
    height: 294px;
    z-index: 2;
}
.doSklepikuGuzik {
    top: 150px;
    left: 1066px;
    width: 369px;
    height: 317px;
    z-index: 2;
}
.doSasiadaGuzik {
    bottom: 0;
    right: 0;
    width: 458px;
    height: 583px;
    z-index: 2;
}
.zaBramaDoLas {
    top: 0;
    left: 0;
    width: 502px;
    height: 296px;
    z-index: 2;
}
.stanPaliwaZaBrama {
    top: 10px;
    left: 1130px;
    width: 220px;
    height: 70px;
    z-index: 2;
    display: flex;
    gap: 8px;
}
.zaBramaDoMiastoGuzik {
    bottom: 0;
    left: 0;
    width: 777px;
    height: 314px;
    z-index: 2;
}
.samochodWidok {
    width: 180px;
    height: 120px;
    top: 240px;
    left: 1500px;
    animation: jedzSamochod 5s linear forwards;
    z-index: 4;
    transform: scaleX(-1);
}
    .samochodWidok img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
.samochodWracaWidok {
    width: 180px;
    height: 120px;
    top: 800px;
    left: 300px;
    animation: wracajSamochod 5s linear forwards;
    z-index: 4;
}
    .samochodWracaWidok img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
.koloSamochodu {
    border-radius: 50%;
    background: conic-gradient(black 0deg 270deg, gray 270deg 360deg);
    animation: krecenieSamochodu 5s linear forwards;
    width: 35px;
    height: 35px;
    bottom: 18px;
}
.koloSamochoduPrzod {
    right: 30px;
}
.koloSamochoduTyl {
    left: 15px;
}
.pies-straznik {
    position: absolute;
    width: 330px;
    height: 330px;
    background-image: url('../img/teren/piesObronny.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
}
.pies-lewy {
    right: 30%;
    bottom: 40%;
    animation: agresywne-szczekanie-lewy 5s ease-out forwards;
}
.pies-prawy {
    right: 10%;
    bottom: 15%;
    animation: agresywne-szczekanie-prawy 5s ease-out forwards;
}
@keyframes agresywne-szczekanie-lewy {
    0% {
        transform: translateX(300px) translateY(100px) scale(0.5);
        opacity: 0;
    }
    15% {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }
    20% {
        transform: translateX(-30px) translateY(-20px) scale(1.15);
    }
    25% {
        transform: translateX(20px) translateY(-10px) scale(0.95);
    }
    30% {
        transform: translateX(-25px) translateY(-25px) scale(1.2);
    }
    35% {
        transform: translateX(15px) translateY(-5px) scale(0.9);
    }
    40% {
        transform: translateX(-20px) translateY(-20px) scale(1.15);
    }
    45% {
        transform: translateX(10px) translateY(-8px) scale(0.95);
    }
    50% {
        transform: translateX(-15px) translateY(-15px) scale(1.1);
    }
    55% {
        transform: translateX(8px) translateY(-5px) scale(0.95);
    }
    60% {
        transform: translateX(-10px) translateY(-12px) scale(1.08);
    }
    65% {
        transform: translateX(5px) translateY(-3px) scale(0.97);
    }
    70% {
        transform: translateX(-8px) translateY(-10px) scale(1.05);
    }
    75% {
        transform: translateX(3px) translateY(-2px) scale(0.98);
    }
    80% {
        transform: translateX(-5px) translateY(-8px) scale(1.03);
    }
    85% {
        transform: translateX(2px) translateY(-1px) scale(0.99);
    }
    90% {
        transform: translateX(-3px) translateY(-5px) scale(1.02);
    }
    95%, 100% {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }
}
@keyframes agresywne-szczekanie-prawy {
    0% {
        transform: translateX(300px) translateY(100px) scale(0.5);
        opacity: 0;
    }
    8% {
        transform: translateX(300px) translateY(100px) scale(0.5);
        opacity: 0;
    }
    25% {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }
    30% {
        transform: translateX(30px) translateY(-20px) scale(1.15);
    }
    35% {
        transform: translateX(-20px) translateY(-10px) scale(0.95);
    }
    40% {
        transform: translateX(25px) translateY(-25px) scale(1.2);
    }
    45% {
        transform: translateX(-15px) translateY(-5px) scale(0.9);
    }
    50% {
        transform: translateX(20px) translateY(-20px) scale(1.15);
    }
    55% {
        transform: translateX(-10px) translateY(-8px) scale(0.95);
    }
    60% {
        transform: translateX(15px) translateY(-15px) scale(1.1);
    }
    65% {
        transform: translateX(-8px) translateY(-5px) scale(0.95);
    }
    70% {
        transform: translateX(10px) translateY(-12px) scale(1.08);
    }
    75% {
        transform: translateX(-5px) translateY(-3px) scale(0.97);
    }
    80% {
        transform: translateX(8px) translateY(-10px) scale(1.05);
    }
    85% {
        transform: translateX(-3px) translateY(-2px) scale(0.98);
    }
    90% {
        transform: translateX(5px) translateY(-8px) scale(1.03);
    }
    95%, 100% {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }
}
@keyframes jedzSamochod {
    to {
        left: 300px;
        top: 800px;
    }
}
@keyframes wracajSamochod {
    to {
        left: 1500px;
        top: 240px;
    }
}
@keyframes krecenieSamochodu {
    to {
        transform: rotate(5400deg);
    }
}