.zwierzyniecWidok {
    background-image: url('../img/zwierzyniec/zwierzyniecWidok.png');
}
.kurnikWidok {
    background-image: url('../img/zwierzyniec/kurnikWidok.png');
}
.gesiarniaWidok {
    background-image: url('../img/zwierzyniec/gesiarniaWidok.png');
}
.indyczarniaWidok {
    background-image: url('../img/zwierzyniec/indyczarniaWidok.png');
}
.kacznikWidok {
    background-image: url('../img/zwierzyniec/kacznikWidok.png');
}
.krolikarniaWidok {
    background-image: url('../img/zwierzyniec/krolikarniaWidok.png');
}
.doGospodarstwaGuzik {
    bottom: 0;
    left: 737px;
    width: 388px;
    height: 129px;
    z-index: 3;
}
.doKurnikaGuzik {
    top: 167px;
    left: 14px;
    width: 241px;
    height: 162px;
    z-index: 3;
}
.doGesiarniGuzik {
    top: 566px;
    left: 0;
    width: 234px;
    height: 234px;
    z-index: 3;
}
.doIndyczarniGuzik {
    top: 366px;
    left: 0;
    width: 286px;
    height: 125px;
    z-index: 3;
}
.doKacznikGuzik {
    top: 510px;
    left: 600px;
    width: 320px;
    height: 151px;
    z-index: 3;
}
.doKrolikarniaGuzik {
    top: 89px;
    right: 120px;
    width: 256px;
    height: 166px;
    z-index: 3;
}
.calyKurnik {
    top: 400px;
    left: 350px;
    width: 600px;
    height: 600px;
    z-index: 2;
}
.calaGesiarnia {
    top: 380px;
    left: 330px;
    width: 750px;
    height: 450px;
    z-index: 2;
}
.calaIndyczarnia {
    top: 480px;
    left: 250px;
    width: 800px;
    height: 500px;
    z-index: 2;
}
.calyKacznik {
    top: 730px;
    left: 355px;
    width: 850px;
    height: 250px;
    z-index: 2;
}
.calaKrolikarnia {
    top: 290px;
    left: 220px;
    width: 800px;
    height: 450px;
    z-index: 2;
}
.kuraWKurniku {
    width: 80px;
}
.gesWGesiarni {
    width: 120px;
}
.indykWIndyczarni {
    width: 120px;
}
.kaczkaWKaczniku {
    width: 80px;
}
.krolikWKrolikarni {
    width: 100px;
}
.kurnikDoZwierzyncaGuzik {
    bottom: 0;
    right: 45px;
    width: 556px;
    height: 258px;
    z-index: 3;
}
.gesiarniaDoZwierzyncaGuzik {
    bottom: 0;
    right: 0;
    width: 565px;
    height: 242px;
    z-index: 3;
}
.indyczarniaDoZwierzyncaGuzik {
    bottom: 0;
    right: 0;
    width: 564px;
    height: 220px;
    z-index: 3;
}
.kacznikDoZwierzyncaGuzik {
    bottom: 0;
    right: 0;
    width: 560px;
    height: 259px;
    z-index: 3;
}
.krolikarniaDoZwierzyncaGuzik {
    bottom: 0;
    right: 0;
    width: 359px;
    height: 244px;
    z-index: 3;
}
.terenKuryPrzedKurnikiem {
    top: 200px;
    left: 250px;
    width: 200px;
    height: 120px;
    z-index: 5;
}
.kuraPrzedKurnikiem {
    width: 40px;
}
.terenGesiPrzedGesiarnia {
    top: 590px;
    left: 230px;
    width: 150px;
    height: 90px;
    z-index: 5;
}
.gesPrzedGesiarnia {
    width: 50px;
}
.terenIndykaPrzedIndyczarnia {
    top: 450px;
    left: 200px;
    width: 280px;
    height: 100px;
    z-index: 5;
}
.indykPrzedIndyczarnia {
    width: 50px;
}
.terenKaczkiPrzedKacznikiem {
    top: 590px;
    left: 890px;
    width: 110px;
    height: 50px;
    z-index: 5;
}
.kaczkaPrzedKacznikiem {
    width: 50px;
}
.swiatloKrolikarni {
    top: 185px;
    right: 218px;
    width: 29px;
    height: 18px;
    z-index: 4;
}
.liczbaPtakDomek {
    font-size: 74px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}
.liczbaKurKurnik {
    top: 95px;
    right: 95px;
    width: 230px;
    height: 80px;
}
.liczbaGesiGesiarnia {
    top: 75px;
    right: 70px;
    width: 240px;
    height: 100px;
}
.liczbaIndykowIndyczarnia {
    top: 85px;
    right: 90px;
    width: 240px;
    height: 100px;
}
.liczbaKaczekKacznik {
    top: 80px;
    right: 70px;
    width: 240px;
    height: 100px;
}
.liczbaKrolikowKrolikarnia {
    top: 80px;
    right: 70px;
    width: 300px;
    height: 100px;
}
.ramkaWarzywKurnik {
    top: 310px;
    width: 90px;
    height: 36px;
    z-index: 2;
    border-radius: 10px;
    background-color: yellow;
    font-size: 36px;
    text-align: center;
    opacity: 0.7;
}
.guzikWarzywoKurnik {
    top: 290px;
    width: 150px;
    height: 150px;
    z-index: 3;
}
.ramkaWarzywoKrolikarnia {
    top: 310px;
    width: 90px;
    height: 36px;
    z-index: 2;
    border-radius: 10px;
    background-color: yellow;
    font-size: 36px;
    text-align: center;
    opacity: 0.7;
}
.guzikWarzywoKrolikarnia {
    top: 290px;
    width: 150px;
    height: 150px;
    z-index: 3;
}
.liczbaKukurydzyKurnik {
    right: 465px;
}
.guzikKukurydzaKurnik {
    right: 440px;
}
.liczbaJeczmieniaKurnik {
    right: 270px;
}
.guzikJeczmienKurnik {
    right: 240px;
}
.liczbaKapustyKurnik {
    right: 75px;
}
.guzikKapustaKurnik {
    right: 50px;
}
.liczbaJarmuzGesiarnia {
    right: 445px;
}
.guzikJarmuzGesiarnia {
    right: 420px;
}
.liczbaOwiesGesiarnia {
    right: 250px;
}
.guzikOwiesGesiarnia {
    right: 220px;
}
.liczbaOgorekGesiarnia {
    right: 55px;
}
.guzikOgorekGesiarnia {
    right: 30px;
}
.liczbaPszenicyIndyczarnia {
    right: 460px;
}
.guzikPszenicyIndyczarnia {
    right: 420px;
}
.liczbaFasolaIndyczarnia {
    right: 265px;
}
.guzikFasolaIndyczarnia {
    right: 220px;
}
.liczbaSoczewicaIndyczarnia {
    right: 70px;
}
.guzikSoczewicaIndyczarnia {
    right: 30px;
}
.liczbaGrochKacznik {
    right: 440px;
}
.guzikGrochKacznik {
    right: 410px;
}
.liczbaCukiniaKacznik {
    right: 245px;
}
.guzikCukiniaKacznik {
    right: 210px;
}
.liczbaBatatKacznik {
    right: 50px;
}
.guzikBatatKacznik {
    right: 20px;
}
.liczbaPietruszkaKrolikarnia {
    right: 440px;
}
.guzikPietruszkaKrolikarnia {
    right: 410px;
}
.liczbaMarchewKrolikarnia {
    right: 245px;
}
.guzikMarchewKrolikarnia {
    right: 10px;
}
.liczbaSalataKrolikarnia {
    right: 50px;
}
.guzikSalataKrolikarnia {
    right: 20px;
}
.progresNakarmieniaKury {
    top: 508px;
    right: 103px;
    width: 435px;
    height: 40px;
    z-index: 2;
}
.progresNakarmieniaGesi {
    top: 511px;
    right: 75px;
    width: 430px;
    height: 40px;
    z-index: 2;
}
.progresNakarmieniaIndykow {
    top: 511px;
    right: 85px;
    width: 448px;
    height: 40px;
    z-index: 2;
}
.progresNakarmieniaKaczek {
    top: 511px;
    right: 67px;
    width: 448px;
    height: 40px;
    z-index: 2;
}
.progresNakarmieniaKrolika {
    top: 290px;
    right: 35px;
    width: 548px;
    height: 80px;
    z-index: 2;
}
.lJajBud {
    font-size: 74px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}
.liczbaJajKurnik {
    top: 619px;
    right: 115px;
    width: 250px;
    height: 80px;
}
.liczbaJajGesiarnia {
    top: 613px;
    right: 425px;
    width: 100px;
    height: 100px;
}
.liczbaJajIndyczarnia {
    top: 622px;
    right: 435px;
    width: 100px;
    height: 100px;
}
.liczbaJajKacznik {
    top: 615px;
    right: 410px;
    width: 120px;
    height: 90px;
}
.nadJajemKurnik {
    top: 609px;
    right: 455px;
    width: 75px;
    height: 100px;
    z-index: 5;
    pointer-events: none;
    transform-origin: center center;
}
.nadJajemGesiarnia {
    top: 600px;
    right: 70px;
    width: 254px;
    height: 112px;
    z-index: 5;
    pointer-events: none;
    transform-origin: center center;
}
.nadJajemIndyczarnia {
    top: 612px;
    right: 69px;
    width: 328px;
    height: 103px;
    z-index: 5;
    pointer-events: none;
    transform-origin: center center
}
.nadJajemKacznik {
    top: 596px;
    right: 69px;
    width: 305px;
    height: 129px;
    z-index: 5;
    pointer-events: none;
    transform-origin: center center
}
.jajoKuryAnimacja {
    animation: kolysanieJajka 1s ease-in-out;
}
@keyframes kolysanieJajka {
    0%, 100% {
        transform: rotate(0deg);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate(-15deg);
    }
    20%, 40%, 60%, 80% {
        transform: rotate(15deg);
    }
}