.zwierzyniecWidok {
    background-image: url('../img/zwierzyniec/zwierzyniecWidok.png');
}
.kurnikWidok {
    background-image: url('../img/zwierzyniec/kurnikWidok.png');
}
.gesiarniaWidok {
    background-image: url('../img/zwierzyniec/gesiarniaWidok.png');
}
.indyczarniaWidok {
    background-image: url('../img/zwierzyniec/indyczarniaWidok.png');
}
.kacznikWidok {
    background-image: url('../img/zwierzyniec/kacznikWidok.png');
}
.krolikarniaWidok {
    background-image: url('../img/zwierzyniec/krolikarniaWidok.png');
}
.chlewWidok {
    background-image: url('../img/zwierzyniec/chlewWidok.png');
}
.owczarniaWidok {
    background-image: url('../img/zwierzyniec/owczarniaWidok.png');
}
.koziarniaWidok {
    background-image: url('../img/zwierzyniec/koziarniaWidok.png');
}
.oboraWidok {
    background-image: url('../img/zwierzyniec/oboraWidok.png');
}
.stajniaWidok {
    background-image: url('../img/zwierzyniec/stajniaWidok.png');
}
.doGospodarstwaGuzik {
    bottom: 0;
    left: 737px;
    width: 388px;
    height: 129px;
    z-index: 3;
}
.doKurnikaGuzik {
    top: 167px;
    left: 14px;
    width: 241px;
    height: 162px;
    z-index: 3;
}
.doGesiarniGuzik {
    top: 566px;
    left: 0;
    width: 234px;
    height: 234px;
    z-index: 3;
}
.doIndyczarniGuzik {
    top: 366px;
    left: 0;
    width: 286px;
    height: 125px;
    z-index: 3;
}
.doKacznikGuzik {
    top: 510px;
    left: 600px;
    width: 320px;
    height: 151px;
    z-index: 3;
}
.doKrolikarniaGuzik {
    top: 89px;
    right: 120px;
    width: 256px;
    height: 166px;
    z-index: 3;
}
.doChlewGuzik {
    bottom: 130px;
    left: 272px;
    width: 295px;
    height: 180px;
    z-index: 3;
}
.doOwczarniaGuzik {
    top: 615px;
    right: 0;
    width: 435px;
    height: 182px;
    z-index: 3;
}
.doKoziarniaGuzik {
    top: 255px;
    left: 776px;
    width: 239px;
    height: 108px;
    z-index: 3;
}
.doOboraGuzik {
    top: 0;
    left: 505px;
    width: 294px;
    height: 172px;
    z-index: 3;
}
.doStajniaGuzik {
    top: 0;
    left: 956px;
    width: 449px;
    height: 189px;
    z-index: 3;
}
.calyKurnik {
    top: 400px;
    left: 350px;
    width: 600px;
    height: 600px;
    z-index: 2;
}
.calaGesiarnia {
    top: 380px;
    left: 330px;
    width: 750px;
    height: 450px;
    z-index: 2;
}
.calaIndyczarnia {
    top: 480px;
    left: 250px;
    width: 800px;
    height: 500px;
    z-index: 2;
}
.calyKacznik {
    top: 730px;
    left: 355px;
    width: 850px;
    height: 250px;
    z-index: 2;
}
.calaKrolikarnia {
    top: 290px;
    left: 220px;
    width: 800px;
    height: 450px;
    z-index: 2;
}
.calyChlew {
    top: 500px;
    left: 300px;
    width: 980px;
    height: 490px;
    z-index: 2;
}
.calaOwczarnia {
    bottom: 10px;
    left: 200px;
    width: 900px;
    height: 600px;
    z-index: 2;
}
.calaKoziarnia {
    top: 300px;
    left: 220px;
    width: 650px;
    height: 690px;
    z-index: 2;
}
.calaObora {
    top: 350px;
    left: 300px;
    width: 700px;
    height: 640px;
    z-index: 2;
}
.kuraWKurniku {
    width: 80px;
}
.gesWGesiarni {
    width: 120px;
}
.indykWIndyczarni {
    width: 120px;
}
.kaczkaWKaczniku {
    width: 80px;
}
.krolikWKrolikarni {
    width: 100px;
}
.swiniaWChlewie {
    width: 500px;
}
.owcaWOwczarni {
    width: 270px;
}
.kozaWKoziarni {
    width: 300px;
}
.krowaWOborze {
    width: 500px;
}
.kurnikDoZwierzyncaGuzik {
    bottom: 0;
    right: 45px;
    width: 556px;
    height: 258px;
    z-index: 3;
}
.gesiarniaDoZwierzyncaGuzik {
    bottom: 0;
    right: 0;
    width: 565px;
    height: 242px;
    z-index: 3;
}
.indyczarniaDoZwierzyncaGuzik {
    bottom: 0;
    right: 0;
    width: 564px;
    height: 220px;
    z-index: 3;
}
.kacznikDoZwierzyncaGuzik {
    bottom: 0;
    right: 0;
    width: 560px;
    height: 259px;
    z-index: 3;
}
.krolikarniaDoZwierzyncaGuzik {
    bottom: 0;
    right: 0;
    width: 359px;
    height: 244px;
    z-index: 3;
}
.chlewDoZwierzyncaGuzik {
    bottom: 0;
    right: 0;
    width: 334px;
    height: 226px;
    z-index: 3;
}
.owczarniaDoZwierzyncaGuzik {
    bottom: 0;
    right: 0;
    width: 217px;
    height: 137px;
    z-index: 3;
}
.koziarniaDoZwierzyncaGuzik {
    bottom: 0;
    right: 0;
    width: 663px;
    height: 237px;
    z-index: 3;
}
.oboraDoZwierzyncaGuzik {
    bottom: 0;
    right: 0;
    width: 405px;
    height: 165px;
    z-index: 3;
}
.stajniaDoZwierzyncaGuzik {
    bottom: 0;
    right: 0;
    width: 329px;
    height: 179px;
    z-index: 3;
}
.terenKuryPrzedKurnikiem {
    top: 200px;
    left: 250px;
    width: 200px;
    height: 120px;
    z-index: 5;
}
.kuraPrzedKurnikiem {
    width: 40px;
}
.terenGesiPrzedGesiarnia {
    top: 590px;
    left: 230px;
    width: 150px;
    height: 90px;
    z-index: 5;
}
.gesPrzedGesiarnia {
    width: 50px;
}
.terenIndykaPrzedIndyczarnia {
    top: 450px;
    left: 200px;
    width: 280px;
    height: 100px;
    z-index: 5;
}
.indykPrzedIndyczarnia {
    width: 50px;
}
.terenKaczkiPrzedKacznikiem {
    top: 590px;
    left: 890px;
    width: 110px;
    height: 50px;
    z-index: 5;
}
.kaczkaPrzedKacznikiem {
    width: 50px;
}
.terenSwiniPrzedChlewem {
    bottom: 140px;
    left: 500px;
    width: 180px;
    height: 80px;
    z-index: 5;
}
.swiniaPrzedChlewem {
    width: 70px;
}
.terenOwcyPrzedOwczarnia {
    bottom: 150px;
    right: 120px;
    width: 400px;
    height: 120px;
    z-index: 5;
}
.owcaPrzedOwczarnia {
    width: 80px;
}
.terenKozyPrzedKoziarnia {
    top: 340px;
    left: 530px;
    width: 600px;
    height: 150px;
    z-index: 5;
}
.kozaPrzedKoziarnia {
    width: 80px;
}
.terenKrowyPrzedObora {
    top: 140px;
    left: 600px;
    width: 200px;
    height: 120px;
    z-index: 5;
}
.krowaPrzedObora {
    width: 90px;
}
.terenKoniaPrzedStajnia {
    top: 140px;
    left: 900px;
    width: 300px;
    height: 120px;
    z-index: 5;
}
.konPrzedStajnia {
    width: 100px;
}
.swiatloKrolikarni {
    top: 185px;
    right: 218px;
    width: 29px;
    height: 18px;
    z-index: 4;
}
.liczbaPtakDomek {
    font-size: 74px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}
.liczbaKurKurnik {
    top: 95px;
    right: 95px;
    width: 230px;
    height: 80px;
}
.liczbaGesiGesiarnia {
    top: 75px;
    right: 70px;
    width: 240px;
    height: 100px;
}
.liczbaIndykowIndyczarnia {
    top: 85px;
    right: 90px;
    width: 240px;
    height: 100px;
}
.liczbaKaczekKacznik {
    top: 80px;
    right: 70px;
    width: 240px;
    height: 100px;
}
.liczbaKrolikowKrolikarnia {
    top: 80px;
    right: 70px;
    width: 300px;
    height: 100px;
}
.liczbaSwinChlew {
    top: 80px;
    right: 31px;
    width: 200px;
    height: 100px;
}
.liczbaOwiecOwczarnia {
    top: 100px;
    right: 65px;
    width: 170px;
    height: 100px;
}
.liczbaKozKoziarnia {
    top: 60px;
    right: 400px;
    width: 230px;
    font-size: 110px;
    height: 112px;
}
.liczbaKrowObora {
    top: 60px;
    right: 370px;
    width: 170px;
    font-size: 110px;
    height: 112px;
}
.ramkaWarzywKurnik {
    top: 310px;
    width: 90px;
    height: 36px;
    z-index: 2;
    border-radius: 10px;
    background-color: yellow;
    font-size: 36px;
    text-align: center;
    opacity: 0.7;
}
.guzikWarzywoKurnik {
    top: 290px;
    width: 150px;
    height: 150px;
    z-index: 3;
}
.guzikWarzywoOwczarnia {
    top: 286px;
    width: 152px;
    height: 220px;
    z-index: 3;
}
.ramkaWarzywoKrolikarnia {
    top: 490px;
    width: 90px;
    height: 36px;
    z-index: 2;
    border-radius: 10px;
    background-color: darkorange;
    font-size: 36px;
    text-align: center;
    opacity: 0.7;
}
.guzikWarzywoKrolikarnia {
    top: 465px;
    width: 170px;
    height: 220px;
    z-index: 3;
}
.liczbaKukurydzyKurnik {
    right: 465px;
}
.guzikKukurydzaKurnik {
    right: 440px;
}
.liczbaJeczmieniaKurnik {
    right: 270px;
}
.guzikJeczmienKurnik {
    right: 240px;
}
.liczbaKapustyKurnik {
    right: 75px;
}
.guzikKapustaKurnik {
    right: 50px;
}
.liczbaJarmuzGesiarnia {
    right: 445px;
}
.guzikJarmuzGesiarnia {
    right: 420px;
}
.liczbaOwiesGesiarnia {
    right: 250px;
}
.guzikOwiesGesiarnia {
    right: 220px;
}
.liczbaOgorekGesiarnia {
    right: 55px;
}
.guzikOgorekGesiarnia {
    right: 30px;
}
.liczbaPszenicyIndyczarnia {
    right: 460px;
}
.guzikPszenicyIndyczarnia {
    right: 420px;
}
.liczbaFasolaIndyczarnia {
    right: 265px;
}
.guzikFasolaIndyczarnia {
    right: 220px;
}
.liczbaSoczewicaIndyczarnia {
    right: 70px;
}
.guzikSoczewicaIndyczarnia {
    right: 30px;
}
.liczbaGrochKacznik {
    right: 440px;
}
.guzikGrochKacznik {
    right: 410px;
}
.liczbaCukiniaKacznik {
    right: 245px;
}
.guzikCukiniaKacznik {
    right: 210px;
}
.liczbaBatatKacznik {
    right: 50px;
}
.guzikBatatKacznik {
    right: 20px;
}
.liczbaPietruszkaKrolikarnia {
    right: 470px;
}
.guzikPietruszkaKrolikarnia {
    right: 430px;
}
.liczbaMarchewKrolikarnia {
    right: 275px;
}
.guzikMarchewKrolikarnia {
    right: 232px;
}
.liczbaSalataKrolikarnia {
    right: 80px;
}
.guzikSalataKrolikarnia {
    right: 36px;
}
.liczbaPasternakChlew {
    right: 464px;
}
.guzikPasternakChlew {
    right: 420px;
}
.liczbaZiemniakChlew {
    right: 260px;
}
.guzikZiemniakChlew {
    right: 222px;
}
.liczbaJablkoChlew {
    right: 65px;
}
.guzikJablkoChlew {
    right: 21px;
}
.liczbaGrykaObora {
    right: 440px;
}
.guzikGrykaObora {
    right: 410px;
}
.liczbaBrokulObora {
    right: 248px;
}
.guzikBrokulObora {
    right: 218px;
}
.liczbaPorObora {
    right: 45px;
}
.guzikPorObora {
    right: 15px;
}
.liczbaBurakKoziarnia {
    right: 515px;
}
.guzikBurakKoziarnia {
    right: 485px;
}
.liczbaKapustaKoziarnia {
    right: 285px;
}
.guzikKapustaKoziarnia {
    right: 258px;
}
.liczbaDyniaKoziarnia {
    right: 60px;
}
.guzikDyniaKoziarnia {
    right: 35px;
}
.liczbaBrukselkaOwczarnia {
    right: 420px;
}
.guzikBrukselkaOwczarnia {
    right: 387px;
}
.liczbaRzodkiewkaOwczarnia {
    right: 240px;
}
.guzikRzodkiewkaOwczarnia {
    right: 207px;
}
.liczbaSzpinakOwczarnia {
    right: 60px;
}
.guzikSzpinakOwczarnia {
    right: 27px;
}
.progresNakarmieniaKury {
    top: 508px;
    right: 103px;
    width: 435px;
    height: 40px;
    z-index: 2;
}
.progresNakarmieniaGesi {
    top: 511px;
    right: 75px;
    width: 430px;
    height: 40px;
    z-index: 2;
}
.progresNakarmieniaIndykow {
    top: 511px;
    right: 85px;
    width: 448px;
    height: 40px;
    z-index: 2;
}
.progresNakarmieniaKaczek {
    top: 511px;
    right: 67px;
    width: 448px;
    height: 40px;
    z-index: 2;
}
.progresNakarmieniaKrolika {
    bottom: 210px;
    right: 35px;
    width: 548px;
    height: 80px;
    z-index: 2;
}
.progresNakarmieniaOwcy {
    bottom: 457px;
    right: 89px;
    width: 400px;
    height: 1px;
    z-index: 2;
}
.progresWelnyOwcy {
    bottom: 380px;
    right: 89px;
    width: 400px;
    height: 1px;
    z-index: 2;
}
.progresNakarmieniaKozy {
    bottom: 417px;
    right: 65px;
    width: 550px;
    height: 80px;
    z-index: 2;
}
.progresNakarmieniaKrowy {
    bottom: 406px;
    right: 68px;
    width: 444px;
    height: 80px;
    z-index: 2;
}
.liczbaGotowychKrolikowKrolikarnia {
    font-size: 50px;
    top: 310px;
    right: 335px;
    height: 52px;
    width: 140px;
    text-align: center;
}
.liczbaGotowychSwinChlew {
    font-size: 50px;
    top: 310px;
    right: 325px;
    height: 52px;
    width: 120px;
    text-align: center;
}
.liczbaSianoStajnia {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 0px sienna, 4px 4px 5px black;
    color: gold;
    top: 400px;
    left: 80px;
    width: 200px;
    height: 102px;
    z-index: 2;
}
.lJajBud {
    font-size: 74px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}
.liczbaJajKurnik {
    top: 619px;
    right: 115px;
    width: 250px;
    height: 80px;
}
.liczbaJajGesiarnia {
    top: 613px;
    right: 425px;
    width: 100px;
    height: 100px;
}
.liczbaJajIndyczarnia {
    top: 622px;
    right: 435px;
    width: 100px;
    height: 100px;
}
.liczbaJajKacznik {
    top: 615px;
    right: 410px;
    width: 120px;
    height: 90px;
}
.liczbaMlekaObora {
    top: 616px;
    right: 120px;
    width: 200px;
    height: 90px;
}
.liczbaMlekaOwca {
    top: 750px;
    right: 300px;
    width: 120px;
    height: 70px;
}
.liczbaWelnaOwca {
    top: 750px;
    right: 10px;
    width: 120px;
    height: 70px;
}
.liczbaMlekaKoziarnia {
    top: 616px;
    right: 150px;
    width: 200px;
    height: 90px;
}
.nadJajemKurnik {
    top: 609px;
    right: 455px;
    width: 75px;
    height: 100px;
    z-index: 5;
    pointer-events: none;
    transform-origin: center center;
}
.nadJajemGesiarnia {
    top: 600px;
    right: 70px;
    width: 254px;
    height: 112px;
    z-index: 5;
    pointer-events: none;
    transform-origin: center center;
}
.nadJajemIndyczarnia {
    top: 612px;
    right: 69px;
    width: 328px;
    height: 103px;
    z-index: 5;
    pointer-events: none;
    transform-origin: center center
}
.nadJajemKacznik {
    top: 596px;
    right: 69px;
    width: 305px;
    height: 129px;
    z-index: 5;
    pointer-events: none;
    transform-origin: center center
}
.nadMlekiemObora {
    top: 610px;
    right: 430px;
    width: 83px;
    height: 109px;
    z-index: 5;
    pointer-events: none;
    transform-origin: center center
}
.nadMlekiemOwczarnia {
    top: 708px;
    right: 440px;
    width: 109px;
    height: 151px;
    z-index: 5;
    pointer-events: none;
    transform-origin: center center
}
.nadWelnaOwczarnia {
    top: 706px;
    right: 145px;
    width: 145px;
    height: 149px;
    z-index: 5;
    pointer-events: none;
    transform-origin: center center
}
.nadMlekiemKoziarnia {
    top: 602px;
    right: 505px;
    width: 108px;
    height: 131px;
    z-index: 5;
    pointer-events: none;
    transform-origin: center center
}
.jajoKuryAnimacja {
    animation: kolysanieJajka 1s ease-in-out;
}
@keyframes kolysanieJajka {
    0%, 100% {
        transform: rotate(0deg);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate(-15deg);
    }
    20%, 40%, 60%, 80% {
        transform: rotate(15deg);
    }
}