.zwierzyniecWidok {
    background-image: url('../img/zwierzyniec/zwierzyniecWidok.png');
}
.kurnikWidok {
    background-image: url('../img/zwierzyniec/kurnikWidok.png');
}
.doGospodarstwaGuzik {
    bottom: 0;
    left: 737px;
    width: 388px;
    height: 129px;
    z-index: 3;
}
.doKurnikaGuzik {
    top: 167px;
    left: 14px;
    width: 241px;
    height: 162px;
    z-index: 3;
}
.calyKurnik {
    top: 400px;
    left: 350px;
    width: 600px;
    height: 600px;
    z-index: 2;
}
.kuraWKurniku {
    width: 80px;
}
.kurnikDoZwierzyncaGuzik {
    bottom: 0;
    right: 45px;
    width: 556px;
    height: 258px;
    z-index: 3;
}
.terenKuryPrzedKurnikiem {
    top: 200px;
    left: 250px;
    width: 200px;
    height: 120px;
    z-index: 2;
}
.kuraPrzedKurnikiem {
    width: 40px;
}
.liczbaKurKurnik {
    top: 95px;
    right: 95px;
    width: 230px;
    height: 80px;
    font-size: 74px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}
.ramkaWarzywKurnik {
    width: 90px;
    height: 36px;
    z-index: 2;
    border-radius: 10px;
    background-color: yellow;
    font-size: 36px;
    text-align: center;
    opacity: 0.7;
}
.guzikWarzywoKurnik {
    width: 150px;
    height: 150px;
    z-index: 3;
}
.liczbaKukurydzyKurnik {
    top: 310px;
    right: 465px;
}
.guzikKukurydzaKurnik {
    top: 290px;
    right: 440px;
}
.liczbaJeczmieniaKurnik {
    top: 310px;
    right: 270px;
}
.guzikJeczmienKurnik {
    top: 290px;
    right: 240px;
}
.liczbaKapustyKurnik {
    top: 310px;
    right: 75px;
}
.guzikKapustaKurnik {
    top: 290px;
    right: 50px;
}
.progresNakarmieniaKury {
    top: 508px;
    right: 103px;
    width: 430px;
    height: 40px;
    z-index: 2;
}
.liczbaJajKurnik {
    top: 619px;
    right: 115px;
    width: 250px;
    height: 80px;
    font-size: 74px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}
.nadJajemKurnik {
    top: 609px;
    right: 455px;
    width: 75px;
    height: 100px;
    z-index: 5; 
    pointer-events: none;
    transform-origin: center center;
}
.jajoKuryAnimacja {
    animation: kolysanieJajka 1s ease-in-out;
}
@keyframes kolysanieJajka {
    0%, 100% {
        transform: rotate(0deg);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate(-15deg);
    }
    20%, 40%, 60%, 80% {
        transform: rotate(15deg);
    }
}