<div class="gospodarstwoWidok widok rel">
    <div class="abs samTraktorWidok samTraktorWidokPowrot">
        <img src='img/samTraktor.png' />
        <div class="abs koloTraktora koloTraktoraPrzod"></div>
        <div class="abs koloTraktora koloTraktoraTyl"></div>
    </div>
</div>

@code {

}
