<div class="czyszczenieDrzewaWidok widok rel">
    <div class="abs sekatorDziala">
        <div class="sekator"></div>
        <div class="sekator-gora"></div>
        <div class="sekator-dol"></div>
    </div>
</div>

@code {

}
