<div class="czyszczeniePolaWidok widok rel">
    <div class="abs motykaDziala">
        <div class="motyka"></div>
        <div class="motyka-gorna"></div>
        <div class="motyka-dolna"></div>
    </div>
</div>

@code {

}