<div class="czyszczenieDrzewaWidok widok rel" style="background-image: url('../img/czyszczenie@(tlo).png');">
    <div class="abs sekatorDziala">
        <div class="sekator"></div>
        <div class="sekator-gora"></div>
        <div class="sekator-dol"></div>
    </div>
</div>

@code {
    private string tlo = Sad2.Palma ? "Palmy" : Sad2.Krzew ? "Krzewu" : Sad2.Pnacze ? "Pnacza" : Sad2.Ziemne ? "Ziemnych" : "Drzewa";
}
