@using Dziekanowka.Mechanizm
<div class="gospodarstwoWidok widok rel">
    <div class="abs studniaGuzik"><button @onclick="DoStudni" class="wyroznionyGuzik"><img src='img/Budynki/studnia@(Gracz.PoziomBudynku("studnia")).png' /></button></div>
</div>

@code {
    [Parameter]
    public Gracz Gracz { get; set; } = null!;
    [Parameter]
    public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    public async Task DoStudni()
    {
        await NaZmianeEkranu.InvokeAsync(EkranGry.Studnia);
    }
}