@using Dziekanowka.Mechanizm
@inject LadowanieGracza ladowanieGracza
<div class="gospodarstwoWidok widok rel">
    <div class="abs studniaGuzik"><button @onclick="DoStudni" class="wyroznionyGuzik"><img src='img/Budynki/studnia@(Gracz.PoziomBudynku("studnia")).png' /></button></div>
    <div class="abs zaBrameGuzik"><button @onclick="ZaBrame" class="wyroznionyGuzik"><img src='img/zaBrameKlik.png' /></button></div>
    <div class="abs @KlasaPowitania">Witaj! +++ @Gracz.BonusDzienny +++</div>
</div>

@code {
    [Parameter]
    public Gracz Gracz { get; set; } = null!;
    [Parameter]
    public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    private bool Powitaj { get; set; } = false;
    private bool Znikanie { get; set; } = false;
    private string KlasaPowitania => Powitaj ? (Znikanie ? "powitanieDzienne znikaj" : "powitanieDzienne") : "ukryty";
    public async Task PowitanieDnia()
    {
        Powitaj = true;
        Znikanie = false;
        StateHasChanged();
        await Task.Delay(100);
        Znikanie = true;
        StateHasChanged();
        await Task.Delay(3000);
        Powitaj = false;
        Znikanie = false;
        StateHasChanged();
    }
    public async Task ZaBrame()
    {
        await NaZmianeEkranu.InvokeAsync(EkranGry.ZaBrama);
    }
    public async Task DoStudni()
    {
        await NaZmianeEkranu.InvokeAsync(EkranGry.Studnia);
    }
}