@using Dziekanowka.Mechanizm
@inject LadowanieGracza ladowanieGracza
<div class="gospodarstwoWidok widok rel">
    <div class="abs doGarazuGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Garaz)" class="wyroznionyGuzik"><img src="img/budynki/garaz.png" /></button></div>
    <div class="abs garazGospodarczyGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.GarazGospodarczy)" class="wyroznionyGuzik"><img src='img/Budynki/garazGospodarczy@(Gracz.PoziomBudynku("garazGospodarczy")).png' /></button></div>
    <div class="abs studniaGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Studnia)" class="wyroznionyGuzik"><img src='img/Budynki/studnia@(Gracz.PoziomBudynku("studnia")).png' /></button></div>
    <div class="abs zaBrameGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.ZaBrama)" class="wyroznionyGuzik"><img src='img/teren/zaBrameKlik.png' /></button></div>
    <div class="abs doPrzetworniGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Przetwornia)" class="wyroznionyGuzik"><img src="img/budynki/przetwornia.png" /></button></div>
    <div class="abs doRzezniGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Rzeznia)" class="wyroznionyGuzik"><img src="img/teren/doRzezni.png" /></button></div>
    <div class="abs doZwierzyncaGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Zwierzyniec)" class="wyroznionyGuzik"><img src="img/teren/doZwierzyncaKlik.png"/></button></div>
</div>

@code {
    [Parameter] public Gracz Gracz { get; set; } = null!;
    [Parameter] public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
}