@inject LadowanieGracza ladowanieGracza
@page "/"
@using System.Text.Json
@if (!wystartowano)
{
    <Start NaStartGry="WywolajStartGry"></Start>
}
else
{
    <h2>@gracz!.Nazwa - Punkty: @gracz.Punkty</h2>
}

@code {
    private bool wystartowano = false;
    private Gracz? gracz => ladowanieGracza.AktualnyGracz;
    private async Task WywolajStartGry(string nazwaGracza)
    {
        if (string.IsNullOrWhiteSpace(nazwaGracza))
            return;
        await ladowanieGracza.ZaladujLubUtworzGracza(nazwaGracza);
        wystartowano = true;
    }
}