@page "/"
@using Dziekanowka.Mechanizm
@inject LadowanieGracza ladowanieGracza
@inject Dzwieki dzwieki
@implements IDisposable
@using System.Text.Json
<div class="kontener @(czyAnimacjaWyjscia ? "fade-out" : "fade-in")">
    @switch (aktualnyEkran)
    {
        case EkranGry.Start:
            <Start NaStartGry="WywolajStartGry" />
            break;
        case EkranGry.Gospodarstwo:
            <Gospodarstwo Gracz="gracz!" NaZmianeEkranu="ZmienEkran" />
            break;
        case EkranGry.ZaBrama:
            <ZaBrama Gracz="gracz!" NaZmianeEkranu="ZmienEkran" />
            break;
        case EkranGry.GarazGospodarczy:
            <GarazGospodarczy Gracz="gracz!" NaZmianeEkranu="ZmienEkran" />
            break;
        case EkranGry.Studnia:
            <Studnia Gracz="gracz!" NaZmianeEkranu="ZmienEkran" />
            break;
        case EkranGry.Sklepik:
            <Sklepik Gracz="gracz!" NaZmianeEkranu="ZmienEkran" />
            break;
        case EkranGry.SklepikWarzywa:
            <SklepikWarzywa Gracz="gracz!" NaZmianeEkranu="ZmienEkran" />
            break;
        case EkranGry.PoleIntro:
            <PoleIntro Gracz="gracz!" NaZmianeEkranu="ZmienEkran" />
            break;
        case EkranGry.Pole1:
            <Pole1 Gracz="gracz!" NaZmianeEkranu="ZmienEkran" />
            break;
        case EkranGry.Pole2:
            <Pole2 Gracz="gracz!" NaZmianeEkranu="ZmienEkran" />
            break;
        case EkranGry.AnimacjaTraktora:
            <AnimacjaTraktora />
            break;
        case EkranGry.AnimacjaTraktoraPowrot:
            <AnimacjaTraktoraPowrot />
            break;
        case EkranGry.CzyszczeniePola:
            <CzyszczeniePola />
            break;
    }
    @if (aktualnyEkran != EkranGry.Start)
    {
        <div class="abs @KlasaPowitania"><img class="obrazekWypelnia" src="img/przedmioty/moneta.png" /><img class="obrazekWypelnia" src="img/przedmioty/moneta.png" /> Witaj! @gracz!.Statystyki.BonusDzienny <img class="obrazekWypelnia" src="img/przedmioty/moneta.png" /><img class="obrazekWypelnia" src="img/przedmioty/moneta.png" /></div>
    }
</div>

@code {
    private EkranGry aktualnyEkran = EkranGry.Start;
    private bool czyAnimacjaWyjscia = false;
    private EkranGry nastepnyEkran;
    private Gracz? gracz => ladowanieGracza.AktualnyGracz;
    private bool Powitaj { get; set; } = false;
    private bool Znikanie { get; set; } = false;
    private bool czekaNaPowitanie = false;
    private string KlasaPowitania => Powitaj ? (Znikanie ? "powitanieDzienne znikaj" : "powitanieDzienne") : "ukryty";
    protected override void OnInitialized()
    {
        Dzwieki.Dzwiek = dzwieki;
        ladowanieGracza.NowyDzienEvent += OnNowyDzien;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await GraTlo(EkranGry.Start);
        if (czekaNaPowitanie && aktualnyEkran != EkranGry.Start)
        {
            czekaNaPowitanie = false;
            await PowitanieDnia();
        }
    }
    private void OnNowyDzien()
    {
        czekaNaPowitanie = true;
    }
    private async Task PowitanieDnia()
    {
        Powitaj = true;
        Znikanie = false;
        StateHasChanged();
        await Task.Delay(100);
        Znikanie = true;
        StateHasChanged();
        await Task.Delay(3000);
        Powitaj = false;
        Znikanie = false;
        StateHasChanged();
    }
    public void Dispose()
    {
        ladowanieGracza.NowyDzienEvent -= OnNowyDzien;
    }
    private async Task GraTlo(EkranGry ekran)
    {
        await (ekran switch
        {
            EkranGry.Start => dzwieki.GraTlo("mp3/Tla/start.mp3"),
            EkranGry.Gospodarstwo => dzwieki.GraTlo("mp3/Tla/gospodarstwo.mp3"),
            EkranGry.ZaBrama => dzwieki.GraTlo("mp3/Tla/zaBrama.mp3"),
            EkranGry.GarazGospodarczy => dzwieki.GraTlo("mp3/Tla/garazGospodarczy.mp3"),
            EkranGry.Studnia => dzwieki.GraTlo("mp3/Tla/studnia.mp3"),
            EkranGry.Sklepik => dzwieki.GraTlo("mp3/Tla/sklepik.mp3"),
            EkranGry.SklepikWarzywa => dzwieki.GraTlo("mp3/Tla/sklepikWarzywa.mp3"),
            EkranGry.PoleIntro or EkranGry.Pole1 or EkranGry.Pole2 => dzwieki.GraTlo("mp3/Tla/poleIntro.mp3"),
            EkranGry.AnimacjaTraktora or EkranGry.AnimacjaTraktoraPowrot => dzwieki.GraTlo("mp3/Tla/traktorJazda.mp3"),
            _ => Task.CompletedTask
        });
    }
    private async Task ZmienEkran(EkranGry ekran)
    {
        gracz!.Statystyki.Ekran = ekran;
        await ladowanieGracza.ZapiszAktualnegoGracza();
        nastepnyEkran = ekran;
        czyAnimacjaWyjscia = true;
        StateHasChanged();
        await Task.Delay(300);
        aktualnyEkran = nastepnyEkran;
        czyAnimacjaWyjscia = false;
        StateHasChanged();
        await GraTlo(ekran);
        await Task.Delay(10);
    }
    private async Task WywolajStartGry(string nazwaGracza)
    {
        await ladowanieGracza.ZaladujGracza(nazwaGracza);
        EkranGry startowyEkran = gracz!.Statystyki.Ekran;
        startowyEkran = startowyEkran switch
        {
            EkranGry.AnimacjaTraktora or EkranGry.AnimacjaTraktoraPowrot => EkranGry.Gospodarstwo,
            EkranGry.CzyszczeniePola => EkranGry.PoleIntro,
            _ => startowyEkran
        };
        await ZmienEkran(startowyEkran);
    }
}