@inject LadowanieGracza ladowanieGracza
@page "/"
@using Dziekanowka.Mechanizm
@using System.Text.Json
@switch (aktualnyEkran)
{
    case EkranGry.Start:
        <Start NaStartGry="WywolajStartGry" />
        break;
    case EkranGry.Gospodarstwo:
        <Gospodarstwo Gracz="gracz!" NaZmianeEkranu="ZmienEkran" />
        break;
    case EkranGry.Studnia:
        <p>studnia</p>
        break;
}

@code {
    private EkranGry aktualnyEkran = EkranGry.Start;
    private Gracz? gracz => ladowanieGracza.AktualnyGracz;
    private void ZmienEkran(EkranGry ekran)
    {
        aktualnyEkran = ekran;
    }
    private async Task WywolajStartGry(string nazwaGracza)
    {
        if (string.IsNullOrWhiteSpace(nazwaGracza))
            return;
        await ladowanieGracza.ZaladujLubUtworzGracza(nazwaGracza);
        ZmienEkran(EkranGry.Gospodarstwo);
    }
}