@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
@inject Dzwieki dzwieki
@implements IDisposable
<div class="koziarniaWidok widok rel">
    <div class="abs koziarniaDoZwierzyncaGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Zwierzyniec)" class="wyroznionyGuzik"><img src="img/zwierzyniec/koziarniaDoZwierzyniec.png" /></button></div>
</div>

@code {
    [Parameter] public Gracz Gracz { get; set; } = null!;
    [Parameter] public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    private bool animujJajo = false;
    private List<PozycjaKozy> pozycjeKozy = new();
    private System.Threading.Timer? timerDzwiekKozy;
    private List<System.Threading.Timer?> timeryKozy = new();
    private Random random = new Random();
    private class PozycjaKozy
    {
        public double X { get; set; }
        public double Y { get; set; }
        public double CzasPrzejscia { get; set; } = 2;
        public bool PatrzyWLewo { get; set; }
    }
    public void Dispose()
    {
        foreach (var timer in timeryKozy)
            timer?.Dispose();
        timerDzwiekKozy?.Dispose();
    }
}
