@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
<div class="lasJezioroWidok widok rel">
    <div class="abs jezioroDoLas"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.LasIntro)" class="wyroznionyGuzik" disabled="@(lowienie)"><img src='img/teren/las/jezioroDoLas.png' /></button></div>
    <!--<div class="abs jezioroNaRyby @(Gracz.Monety > 1 && !lowienie ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick="NaRyby"></div>-->
    @if (lowienie)
    {
        <div class="abs jezioroLowienie">
            @foreach (var ryba in wylosowaneRyby)
            {
                <div class="losowanaRyba"><img class="obrazekContain" src="img/przedmioty/ryby/@(ryba).png"/></div>
            }
        </div>   
    }
</div>

@code {
    [Parameter] public Gracz Gracz { get; set; } = null!;
    [Parameter] public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    private bool lowienie = false;
    private string[] ryby = ["losos", "pstrag", "halibut", "okon", "sledz"];
    private string[] wylosowaneRyby = [];
    private void LosujRyby()
    {
        var lista = ryby.SelectMany(r => Enumerable.Repeat(r, 5)).ToArray();
        for (int i = lista.Length - 1; i > 0; i--)
        {
            int j = Random.Shared.Next(i + 1);
            (lista[i], lista[j]) = (lista[j], lista[i]);
        }
        wylosowaneRyby = lista;
    }
    private async Task NaRyby()
    {
        if (Gracz.Monety < 2) return;
        Gracz.Monety -= 2;
        await ladowanieGracza.ZapiszAktualnegoGracza();
        LosujRyby();
        lowienie = true;
    }
}