@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
<div class="miastoMorskieWidok widok rel">
    <div class="abs miastoMorskieNaStacje"><button class="wyroznionyGuzik" @onclick="NaStacje" disabled="@okienko"><img src="img/miasto/miastoMorskieNaStacje.png" /></button></div>
    <div class="abs morskieDoKuchni"><button class="wyroznionyGuzik" @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.KuchniaMorska)" disabled="@okienko"><img src="img/miasto/morskieDoRestauracji.png" /></button></div>
    @if (okienko)
    {
        <div class="abs okienkoMiastoMorskie">

        </div>
    }
</div>

@code {
    [Parameter] public Gracz Gracz { get; set; } = null!;
    [Parameter] public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    private bool okienko = false;
    public async Task NaStacje()
    {
        Gracz.Statystyki.Stacja = "miastoMorskie";
        await NaZmianeEkranu.InvokeAsync(EkranGry.Stacja);
    }
}