@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
<div class="sad1Widok widok rel">
    <div class="abs naPoleIntroZSad1"><button class="wyroznionyGuzik" @onclick="NaPoleIntro"><img src="img/naPoleIntroZSad1.png" /></button></div>
</div>
@code {
    [Parameter]
    public Gracz Gracz { get; set; } = null!;
    [Parameter]
    public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    public async Task NaPoleIntro()
    {
        await NaZmianeEkranu.InvokeAsync(EkranGry.PoleIntro);
    }
}
