<div class="widok powitanie rel">
    <div class="guzikStartMama abs"><button class="btnStart wyroznionyGuzik" @onclick='() => StartGry("Mama")'><img src="img/Mama.png"/></button></div>
    <div class="guzikStartTata abs"><button class="btnStart wyroznionyGuzik" @onclick='() => StartGry("Tata")'><img src="img/Tata.png" /></button></div>
    <div class="guzikStartUla abs"><button class="btnStart wyroznionyGuzik" @onclick='() => StartGry("Ula")'><img src="img/Ula.png" /></button></div>
    <div class="guzikStartBasia abs"><button class="btnStart wyroznionyGuzik" @onclick='() => StartGry("Basia")'><img src="img/Basia.png" /></button></div>
    <div class="guzikStartAnia abs"><button class="btnStart wyroznionyGuzik" @onclick='() => StartGry("Ania")'><img src="img/Ania.png" /></button></div>
</div>

@code {
    [Parameter]
    public EventCallback<string> NaStartGry { get; set; }
    private async Task StartGry(string nazwaGracza)
    {
        await NaStartGry.InvokeAsync(nazwaGracza);
    }
}