@using Dziekanowka.Mechanizm
<div class="zaBramaWidok widok rel">
    <div class="abs powrotDoDomuGuzik"><button @onclick="PowrotDoDomu" class="wyroznionyGuzik"><img src='img/doDomuZZaBramyKlik.png' /></button></div>
    <div class="abs doSklepikuGuzik"><button @onclick="DoSklepiku" class="wyroznionyGuzik"><img src='img/budynki/sklepik.png' /></button></div>
</div>

@code {
    [Parameter]
    public Gracz Gracz { get; set; } = null!;
    [Parameter]
    public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    public async Task PowrotDoDomu()
    {
        await NaZmianeEkranu.InvokeAsync(EkranGry.Gospodarstwo);
    }
    public async Task DoSklepiku()
    {
        await NaZmianeEkranu.InvokeAsync(EkranGry.Sklepik);
    }
}