<div class="videoAnimacjaKontener">
    <video autoplay muted playsinline class="videoAnimacjaPelnyEkran">
        <source src="video/sekator@(tlo).mp4" type="video/mp4" />
    </video>
</div>

@code {
    private string tlo => Sad2.Palma ? "Palmy" : Sad2.Krzew ? "Krzewu" : Sad2.Pnacze ? "Pnacza" : Sad2.Ziemne ? "Ziemnych" : "Drzewa";
}