<div class="kosiarkaKosi widok rel">
    <div class="kosiarka ">
        <div class="abs koloKosiarki koloKosiarkiPrzod"></div>
        <div class="abs koloKosiarki koloKosiarkiTyl"></div>
    </div>
</div>

@code {

}
