<div class="videoAnimacjaKontener">
    <video autoplay muted playsinline class="videoAnimacjaPelnyEkran">
        <source src="video/pociag@(nrFilmu).mp4" type="video/mp4" />
    </video>
</div>

@code {
    private int nrFilmu = Random.Shared.Next(1, 6);
}