<div class="zaBramaWidok widok rel">
    <div class="abs samochodWidok">
        <img src='img/miasto/samochod.png' />
        <div class="abs koloSamochodu koloSamochoduPrzod"></div>
        <div class="abs koloSamochodu koloSamochoduTyl"></div>
    </div>
</div>

@code {}