@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
<div class="fanZdrowyWidok widok rel">
    <div class="abs fanZdrowyDoLesnego"><button class="wyroznionyGuzik" @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.MiastoLesne)"><img src="img/miasto/fanZdrowyDoLesnego.png" /></button></div>
</div>

@code {
    [Parameter] public Gracz Gracz { get; set; } = null!;
    [Parameter] public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
}