<div class="videoAnimacjaKontener">
    <video autoplay muted playsinline class="videoAnimacjaPelnyEkran">
        <source src="video/koszenie.mp4" type="video/mp4" />
    </video>
</div>

@code {

}
