@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
<div class="szkolaInformatykaWidok widok rel">
    <div class="abs szkolaInformatykaDoIntro"><button class="wyroznionyGuzik" disabled="@(panelZmianaHasla)" @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.SzkolaIntro)"><img src="img/miasto/szkola/szkolaInformatykaDoIntro.png" /></button></div>
    <div class="abs doZmianyHasla"><button class="wyroznionyGuzik" @onclick="() => panelZmianaHasla = true"><img src="img/miasto/szkola/doHasla.png" /></button></div>
    @if (Gracz.Nazwa == "Tata")
    {
        @if (widacPanelAdmin)
        {
            <div class="abs panelAdminWprowadz">
                <div>Mama <input @bind="monetyMama" /></div>
                <div>Tata <input @bind="monetyTata" /></div>
                <div>Ula <input @bind="monetyUla" /></div>
                <div>Basia <input @bind="monetyBasia" /></div>
                <div>Ania <input @bind="monetyAnia" /></div>
                <button @onclick="ZmienMonety">Zapisz</button>
            </div>
        }
        else
        {
            <div class="abs panelAdmin" @onclick="() => widacPanelAdmin = true"></div>
        }
        
    }
</div>
<div class="abs narzedziePrzetwornia @(widok ? "" : "aktywne")">
    <div class="abs kuchniaNarzedzieConfirm"><button class="wyroznionyGuzik" @onclick="ZamknijPanel" ><img src="img/budynki/przetworniaNarzedzieConfirm.png" /></button></div>
    <div class="abs poleStareHaslo"><img src="img/miasto/szkola/staraKlodka.jpg" /><input type="password" @bind="stareHaslo" /></div>
    <div class="abs poleNoweHaslo"><img src="img/miasto/szkola/nowaKlodka.jpg" /><input type="password" @bind="noweHaslo" /></div>
    <div class="abs polePotwierdzHaslo"><img src="img/miasto/szkola/nowaKlodka.jpg" /><input type="password" @bind="potwierdzHaslo" /></div>
    <div class="abs guzikZmienHaslo"><button class="wyroznionyGuzik" @onclick="ZmienHaslo"><img src="img/miasto/szkola/zatwierdzHaslo.png" /></button></div>
</div>

@code {
    [Parameter] public Gracz Gracz { get; set; } = null!;
    [Parameter] public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    private bool panelZmianaHasla = false;
    private bool widok => !panelZmianaHasla;
    private void ZamknijPanel() => panelZmianaHasla = false;
    private string stareHaslo = "";
    private string noweHaslo = "";
    private string potwierdzHaslo = "";
    private async Task ZmienHaslo()
    {
        if (stareHaslo != Gracz.Haslo) return;
        if (noweHaslo != potwierdzHaslo) return;
        Gracz.Haslo = noweHaslo;
        await ladowanieGracza.ZapiszAktualnegoGracza();
        stareHaslo = "";
        noweHaslo = "";
        potwierdzHaslo = "";
        ZamknijPanel();
    }
    private bool widacPanelAdmin = false;
    private int monetyMama = 0;
    private int monetyTata = 0;
    private int monetyUla = 0;
    private int monetyBasia = 0;
    private int monetyAnia = 0;
    private async Task ZmienMonety()
    {
        await ladowanieGracza.ZmienMonetyWieluGraczy(new()
        {
            ["Mama"] = monetyMama,
            ["Tata"] = monetyTata,
            ["Ula"] = monetyUla,
            ["Basia"] = monetyBasia,
            ["Ania"] = monetyAnia,
        });
        monetyMama = monetyTata = monetyUla = monetyBasia = monetyAnia = 0;
        widacPanelAdmin = false;
    }
}